Repository synnada-ai/mithril, changes with the labels that .github/labeler.yml gives for each.
All labels: physical, primitives, operators, models, logical, backend, cores, tests, examples, codegen, constraints, benchmarks, utils, framework-utils, common

test update for MacOS CI
  tests/scripts/test_aa_raw_c.py
  tests/scripts/test_raw_c.py
Labels: tests

test update for MacOS CI
  tests/scripts/test_aa_raw_c.py
Labels: tests

test update for MacOS CI
  mithril/cores/c/raw_c/ops.c
Labels: cores

test update for MacOS CI
  mithril/cores/c/raw_c/ops.h
Labels: cores

c test update
  tests/scripts/test_aa_raw_c.py
  tests/scripts/test_raw_c.py
Labels: tests

ops.c ops.h minor update
  mithril/cores/c/raw_c/ops.c
  mithril/cores/c/raw_c/ops.h
Labels: cores

c test update
  tests/scripts/test_c_raw.py
Labels: tests

c ops minor update
  mithril/cores/c/raw_c/ops.c
  mithril/cores/c/raw_c/ops.h
Labels: cores

reduce_mean_grad argument type update
  mithril/cores/c/raw_c/ops.c
  mithril/cores/c/raw_c/ops.h
Labels: cores

Use GitHub Projects default workflows instead of custom ones.
  .github/workflows/add-to-project.yml
  .github/workflows/auto-move-issue-done.yml
  .github/workflows/auto-move-pr.yml
  .github/workflows/auto-move.yml
Labels: none

chore: Add issues and prs to project (#275)
  .github/workflows/add-to-project.yml
  .github/workflows/auto-move-issue-done.yml
  .github/workflows/auto-move-pr.yml
  .github/workflows/auto-move.yml
Labels: none

change c test reduce mean grad num axes input to be Array * instead of int
  mithril/cores/c/raw_c/ops.c
  tests/scripts/c_tests.c
Labels: cores, tests

CI-test-example.yml update
  .github/workflows/ci-test-example.yml
Labels: none

environment is activated for all steps in github workflows
  .github/workflows/ci-test-macos.yaml
Labels: none

easy optimizations done.
  mithril/framework/common.py
  mithril/framework/logical/base.py
  mithril/framework/physical/flat_graph.py
  mithril/utils/dict_conversions.py
  tests/scripts/test_scripts.py
Labels: physical, logical, tests, utils, common

remove redundant functions in c_tests.c
  tests/scripts/c_tests.c
Labels: tests

feat: Add primitives for mlp C backends (#257)
  .github/workflows/ci-test-example.yml
  mithril/backends/with_manualgrad/c_backend/backend.py
  mithril/backends/with_manualgrad/c_backend/utils.py
  mithril/backends/with_manualgrad/ggml_backend/utils.py
  mithril/cores/c/array.py
  mithril/cores/c/ggml/ops.c
  mithril/cores/c/ggml/ops.h
  mithril/cores/c/ggml/ops.py
  mithril/cores/c/ggml/utils.h
  mithril/cores/c/raw_c/array.py
  mithril/cores/c/raw_c/cbackend.h
  mithril/cores/c/raw_c/compile.sh
  mithril/cores/c/raw_c/definitions.py
  mithril/cores/c/raw_c/main.c
  mithril/cores/c/raw_c/ops.c
  mithril/cores/c/raw_c/ops.h
  mithril/cores/c/raw_c/utils.c
  mithril/cores/c/raw_c/utils.h
  mithril/framework/codegen/c_gen.py
  mithril/framework/codegen/ggml_gen.py
  tests/scripts/c_tests.c
  tests/scripts/test_c_raw.py
  tests/scripts/test_primitives_c.py
  tests/scripts/test_pyarray_arithmetic.py
Labels: backend, cores, tests, codegen

documentation is added for activating macos runner
  .github/setting_self_hosted_macos_runners.md
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/code-refactors.md
Labels: none

docs: Add initial documentation setup files
  .gitignore
  CLAUDE.md
  mithril-documentation-improvement-roadmap.md
  vision.md
Labels: none

docs: Add MkDocs configuration file
  mkdocs.yml
Labels: none

chore: self-hosted runner is reactivated (#268)
  .github/setting_self_hosted_macos_runners.md
  .github/workflows/ci-test-macos.yaml
Labels: none

tests added, submodels provisional is expired when submodel extends a parent model
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  tests/scripts/test_immediate_extend.py
  tests/scripts/test_scripts.py
Labels: logical, tests

merge primitive call and output store
  mithril/framework/codegen/c_gen.py
  mithril/framework/codegen/ggml_gen.py
  mithril/framework/codegen/raw_c_gen.py
  mithril/framework/physical/flat_graph.py
Labels: physical, codegen

refactor codegen files
  mithril/framework/codegen/__init__.py
  mithril/framework/codegen/c_style_codegen/c_ast.py
  mithril/framework/codegen/c_style_codegen/c_gen.py
  mithril/framework/codegen/c_style_codegen/ggml_gen.py
  mithril/framework/codegen/c_style_codegen/raw_c_gen.py
  mithril/framework/codegen/py_style_codegen/numpy_gen.py
  mithril/framework/codegen/py_style_codegen/python_gen.py
  mithril/framework/codegen/py_style_codegen/torch_gen.py
Labels: codegen

revert call assign merge
  mithril/framework/codegen/c_style_codegen/c_gen.py
Labels: codegen

refactor refactor
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  mithril/cores/c/ggml/utils.h
  mithril/framework/codegen/c_style_codegen/c_gen.py
  mithril/framework/codegen/c_style_codegen/ggml_gen.py
  mithril/framework/codegen/c_style_codegen/raw_c_gen.py
  mithril/framework/codegen/c_style_codegen/utils.py
  mithril/framework/codegen/py_style_codegen/numpy_gen.py
  mithril/framework/physical/flat_graph.py
  tests/scripts/test_primitive_directed.py
Labels: physical, backend, cores, tests, codegen

initialize struct
  mithril/framework/codegen/c_style_codegen/c_gen.py
Labels: codegen

More refactor
  mithril/framework/codegen/c_style_codegen/c_gen.py
  mithril/framework/codegen/c_style_codegen/ggml_gen.py
  mithril/framework/codegen/c_style_codegen/raw_c_gen.py
Labels: codegen

_set_value_recursively -> _match_values
  mithril/cores/c/ggml/libmithrilggml.dylib
  mithril/cores/c/raw_c/libmithrilc.so.dSYM/Contents/Info.plist
  mithril/framework/common.py
  tests/scripts/test_all_models.py
  tests/scripts/test_hyperedge.py
Labels: cores, tests, common

remove unnecessary files
  mithril/cores/c/raw_c/libmithrilc.so.dSYM/Contents/Info.plist
Labels: cores

unnecessary get_shapes is removed from test
  tests/scripts/test_all_models.py
Labels: tests

more refactor
  mithril/framework/codegen/c_style_codegen/c_gen.py
  mithril/framework/codegen/c_style_codegen/ggml_gen.py
Labels: codegen

minor review updates made
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
Labels: logical

type errors
  mithril/framework/codegen/c_style_codegen/c_gen.py
  mithril/framework/codegen/c_style_codegen/ggml_gen.py
Labels: codegen

Update README.md
  README.md
Labels: none

Edge tests are enriched. Hyperedge value match logic is slightly changed
  mithril/framework/common.py
  tests/scripts/test_hyperedge.py
  tests/scripts/test_ref_counts.py
Labels: tests, common

conns obj cleanups added for deleted provisional models, tests added
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  tests/scripts/test_immediate_extend.py
Labels: logical, tests

feat: Convert Lazy Model Extension (i.e. ExtendTemplate) to Real Time Extension (#236)
  examples/clip/model.py
  mithril/framework/constraints.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/physical/model.py
  mithril/models/models.py
  mithril/models/train_model.py
  tests/scripts/summary_txts/test_logical_model_summary_13
  tests/scripts/summary_txts/test_logical_model_summary_2
  tests/scripts/summary_txts/test_logical_model_summary_5
  tests/scripts/summary_txts/test_physical_summary_3_logical_with_depth
  tests/scripts/summary_txts/test_physical_summary_4
  tests/scripts/summary_txts/test_physical_summary_5
  tests/scripts/summary_txts/test_resnet18_summary
  tests/scripts/summary_txts/test_simple_extend_from_input_summary
  tests/scripts/summary_txts/test_summary_nontensor_models
  tests/scripts/summary_txts/test_summary_of_nested_composite_model_with_names
  tests/scripts/summary_txts/test_traincontext_summary_regex_reg
  tests/scripts/summary_txts/test_traincontext_summary_resnet
  tests/scripts/test_all_models.py
  tests/scripts/test_differentiablity.py
  tests/scripts/test_extend_template.py
  tests/scripts/test_immediate_extend.py
  tests/scripts/test_io_key.py
  tests/scripts/test_key_namings.py
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_scripts.py
  tests/scripts/test_shapes.py
  tests/scripts/test_summary.py
Labels: physical, logical, tests, examples, constraints

Updated based on reviews. Diffentiability inference strategy updated.
  examples/flux/clip.py
  examples/flux/t5.py
  mithril/framework/codegen/python_gen.py
  mithril/framework/common.py
  mithril/framework/logical/operator.py
  mithril/framework/logical/operators.py
  mithril/framework/physical/model.py
  mithril/models/models.py
  tests/scripts/test_all_models.py
Labels: physical, operators, tests, examples, codegen, common

.github/labeler.yml:

'physical':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/physical/**/*']

'primitives':
- changed-files:
  - any-glob-to-any-file: ['mithril/models/primitives.py']

'operators':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/logical/operators.py']

'models':
- changed-files:
  - any-glob-to-any-file: [mithril/models/models.py']

'logical':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/logical/base.py', 'mithril/framework/logical/model.py', 'mithril/framework/logical/primitive.py', mithril/framework/logical/operator.py']

'backend':
- changed-files:
  - any-glob-to-any-file: ['mithril/backends/**/*']

'cores':
- changed-files:
  - any-glob-to-any-file: ['mithril/cores/**/*']

'tests':
- changed-files:
  - any-glob-to-any-file: ['tests/**/*']

'examples':
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

'codegen':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/codegen/**/*']

'constraints':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/constraints.py']

'benchmarks':
- changed-files:
  - any-glob-to-any-file: ['benchmarks/**/*']

'utils':
- changed-files:
  - any-glob-to-any-file: ['mithril/utils/**/*']

'framework-utils':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/utils.py']

'common':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/common.py']
