Repository synnada-ai/mithril, changes with the labels that .github/labeler.yml gives for each.
All labels: physical, primitives, operators, models, logical, backend, cores, tests, examples, codegen, constraints, benchmarks, utils, framework-utils, common

reduce constraint is updated. some of the constraints are updated
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  mithril/cores/python/numpy/ops.py
  mithril/framework/common.py
  mithril/framework/constraints.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_constraints.py
Labels: backend, cores, tests, constraints, common

update yaml
  .github/workflows/ci-test-example.yml
  .github/workflows/ci-test-ubuntu.yaml
Labels: none

format
  mithril/backends/with_autograd/torch_backend/stensor.py
Labels: backend

test updated
  test_examples/test_gpt.py
Labels: none

refactor: Update Requirements (#352)
  .github/workflows/ci-test-example.yml
  .github/workflows/ci-test-macos.yaml
  .github/workflows/ci-test-ubuntu.yaml
  examples/flux/conditioner.py
  mithril/backends/with_autograd/torch_backend/stensor.py
  requirements/dev.txt
  test_examples/test_gpt.py
Labels: backend, examples

merge commit pre-commit update
  examples/flux/layers.py
  examples/whisper/whisper_model.py
Labels: examples

format
  mithril/framework/codegen/py_style_codegen/python_gen.py
Labels: codegen

ruff, mypy pass and test coverage for async parallel matmul
  examples/async_mlp/async_mlp_model.py
  examples/async_mlp/run_async_mlp.py
  mithril/backends/with_autograd/torch_backend/stensor.py
  mithril/backends/with_autograd/torch_backend/utils.py
  mithril/cores/python/torch/ops.py
  tests/scripts/test_parallel.py
Labels: backend, cores, tests, examples

add functional API
  mithril/framework/logical/model.py
  tests/scripts/test_immediate_extend.py
Labels: logical, tests

Add ggml backend mode, remove context mode
  mithril/framework/codegen/c_style_codegen/c_ast.py
  mithril/framework/codegen/c_style_codegen/c_gen.py
  mithril/framework/codegen/c_style_codegen/ggml_gen.py
Labels: codegen

now every constraints support partial value transmission
  mithril/cores/python/jax/ops.py
  mithril/cores/python/mlx/ops.py
  mithril/cores/python/numpy/ops.py
  mithril/cores/python/torch/ops.py
  mithril/framework/common.py
  mithril/framework/constraints.py
  mithril/models/primitives.py
  tests/scripts/summary_txts/test_traincontext_summary_resnet
  tests/scripts/test_all_models.py
  tests/scripts/test_constraints.py
  tests/scripts/test_hyperedge.py
  tests/scripts/test_scripts.py
Labels: primitives, cores, tests, constraints, common

tests are enriched, remaining constraints are updated and fixed
  mithril/framework/constraints.py
  mithril/models/primitives.py
  mithril/utils/type_utils.py
  tests/scripts/test_constraints.py
  tests/scripts/test_shapes.py
Labels: primitives, tests, constraints, utils

functional API refactors made, minor bug fixed in create_provisional_model, tests added
  examples/gpt/functional_model.py
  mithril/framework/logical/model.py
  test_examples/test_flux.py
  test_examples/test_gpt.py
  tests/scripts/test_immediate_extend.py
Labels: logical, tests, examples

comments added and minor updates made
  examples/gpt/functional_model.py
  mithril/framework/logical/model.py
Labels: logical, examples

add docstring and update tests
  mithril/framework/logical/model.py
  tests/scripts/test_immediate_extend.py
Labels: logical, tests

Expose key removed from ConnectionData. Bugs fixed, tests updated.
  examples/flux/layers.py
  examples/model_api/convolution_with_svm.py
  examples/t5.py
  mithril/framework/codegen/py_style_codegen/python_gen.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/models/models.py
  mithril/models/train_model.py
  mithril/utils/dict_conversions.py
  tests/json_files/discard_keys_directed_test.json
  tests/json_files/integration_directed_test.json
  tests/json_files/models_directed_test.json
  tests/json_files/no_grad_inference_test.json
  tests/json_files/randomized_model_tests_all_backends.json
  tests/json_files/static_keys_directed_test.json
  tests/scripts/resnet_model.py
  tests/scripts/test_all_models.py
  tests/scripts/test_canonicality.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_data_store.py
  tests/scripts/test_errors.py
  tests/scripts/test_extend_template.py
  tests/scripts/test_flat_graph.py
  tests/scripts/test_functions.py
  tests/scripts/test_io_key.py
  tests/scripts/test_key_namings.py
  tests/scripts/test_metrics.py
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_recurrent_models.py
  tests/scripts/test_scripts.py
  tests/scripts/test_set_outputs.py
  tests/scripts/test_shapes.py
  tests/scripts/test_skipped.py
  tests/scripts/test_summary.py
  tests/scripts/test_train_context.py
  tests/scripts/test_type_coercion.py
Labels: logical, tests, examples, codegen, utils

review updates
  mithril/framework/physical/flat_graph.py
  tests/scripts/test_flat_graph.py
Labels: physical, tests

Test_examples updated.
  examples/clip/model.py
  examples/clip/model_mlx.py
Labels: examples

prune bug is resolved
  mithril/framework/physical/flat_graph.py
  tests/scripts/test_shapes.py
Labels: physical, tests

test jit for backends
  examples/flux/auto_encoder.py
  mithril/__init__.py
  mithril/backends/backend.py
  mithril/backends/with_autograd/jax_backend/backend.py
  mithril/backends/with_autograd/jax_backend/utils.py
  mithril/backends/with_autograd/mlx_backend/backend.py
  mithril/backends/with_autograd/mlx_backend/utils.py
  mithril/backends/with_autograd/torch_backend/backend.py
  mithril/backends/with_autograd/torch_backend/utils.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/logical/primitive.py
  mithril/framework/physical/flat_graph.py
  mithril/framework/physical/model.py
  mithril/models/primitives.py
  tests/scripts/summary_txts/test_physical_summary_11
  tests/scripts/summary_txts/test_physical_summary_14
  tests/scripts/summary_txts/test_physical_summary_15
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_data_store.py
  tests/scripts/test_extend_template.py
  tests/scripts/test_inference.py
  tests/scripts/test_io_key.py
  tests/scripts/test_jittable.py
  tests/scripts/test_scripts.py
  tests/scripts/test_summary.py
  tests/scripts/test_tuple_list_args_in_extend.py
  tests/scripts/test_type_coercion.py
Labels: physical, primitives, logical, backend, tests, examples

add unique tests
  mithril/backends/with_autograd/jax_backend/utils.py
  tests/scripts/test_jittable.py
Labels: backend, tests

review changes
  mithril/framework/codegen/py_style_codegen/python_gen.py
Labels: codegen

add clang foramtter
  .pre-commit-config.yaml
  mithril/cores/c/ggml/ggml_backend.h
  mithril/cores/c/ggml/ops.c
  mithril/cores/c/ggml/ops.h
  mithril/cores/c/ggml/utils.h
  mithril/cores/c/raw_c/array.c
  mithril/cores/c/raw_c/array.h
  mithril/cores/c/raw_c/ops.c
  mithril/cores/c/raw_c/ops.h
  mithril/cores/c/raw_c/utils.c
  mithril/cores/c/raw_c/utils.h
  tests/json_files/discard_keys_directed_test.json
  tests/json_files/error_test.json
  tests/json_files/integration_directed_test.json
  tests/json_files/models_directed_test.json
  tests/json_files/no_grad_inference_test.json
  tests/json_files/numpy_utils.json
  tests/json_files/primitives_directed_test.json
  tests/json_files/randomized_model_tests_all_backends.json
  tests/json_files/shape_directed_test.json
  tests/json_files/static_keys_directed_test.json
  tests/scripts/c_tests.c
Labels: cores, tests

fix tensor_slice_jittable
  mithril/backends/with_autograd/jax_backend/utils.py
Labels: backend

naming convention is updated, functional decorator updated accordingly, test added
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/logical/operator.py
  tests/scripts/test_immediate_extend.py
Labels: logical, tests

refactor: Modularize & Document PythonCodeGen (#349)
  mithril/backends/backend.py
  mithril/backends/with_autograd/jax_backend/backend.py
  mithril/backends/with_autograd/mlx_backend/backend.py
  mithril/backends/with_autograd/torch_backend/backend.py
  mithril/backends/with_manualgrad/c_backend/backend.py
  mithril/backends/with_manualgrad/ggml_backend/backend.py
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  mithril/framework/codegen/py_style_codegen/numpy_gen.py
  mithril/framework/codegen/py_style_codegen/python_gen.py
  mithril/framework/codegen/py_style_codegen/torch_gen.py
  mithril/framework/physical/flat_graph.py
  mithril/framework/physical/model.py
  tests/scripts/test_flatmodel.py
  tests/scripts/test_immediate_extend.py
  tests/scripts/test_primitive_directed.py
Labels: physical, backend, tests, codegen

feat: Add support for injecting additional operations more generally into FlatGraph (#351)
  mithril/framework/physical/flat_graph.py
  tests/scripts/test_flat_graph.py
Labels: physical, tests

bacticks removal error is fixed
  .github/scripts/cc_issue.py
Labels: none

fix: Fixed backtick quoting removal bug when GitHub automation edits an Issue (#373)
  .github/scripts/cc_issue.py
Labels: none

revert jsons
  tests/json_files/discard_keys_directed_test.json
  tests/json_files/error_test.json
  tests/json_files/integration_directed_test.json
  tests/json_files/models_directed_test.json
  tests/json_files/no_grad_inference_test.json
  tests/json_files/numpy_utils.json
  tests/json_files/primitives_directed_test.json
  tests/json_files/randomized_model_tests_all_backends.json
  tests/json_files/shape_directed_test.json
  tests/json_files/static_keys_directed_test.json
Labels: tests

update precommit
  .pre-commit-config.yaml
Labels: none

review fixes
  mithril/framework/codegen/c_style_codegen/c_gen.py
  mithril/framework/codegen/c_style_codegen/ggml_gen.py
Labels: codegen

review updates
  mithril/backends/backend.py
  mithril/framework/logical/base.py
  mithril/framework/physical/model.py
Labels: physical, logical, backend

makeup
  mithril/backends/backend.py
  mithril/framework/physical/flat_graph.py
  tests/scripts/test_flat_graph.py
  tests/scripts/test_summary.py
Labels: physical, backend, tests

move prune above static inference
  mithril/framework/physical/flat_graph.py
  mithril/framework/physical/model.py
  tests/json_files/static_keys_directed_test.json
  tests/scripts/test_all_models.py
  tests/scripts/test_data_store.py
  tests/scripts/test_shapes.py
Labels: physical, tests

add lineaer op for jax
  mithril/cores/python/jax/ops.py
  mithril/models/models.py
  tests/scripts/test_data_store.py
  tests/scripts/test_scripts.py
Labels: cores, tests

linear op for jax
  tests/scripts/summary_txts/test_physical_model_summary_6
  tests/scripts/summary_txts/test_physical_model_summary_7
  tests/scripts/summary_txts/test_physical_summary_3
  tests/scripts/summary_txts/test_physical_summary_4
  tests/scripts/test_codegen.py
  tests/scripts/test_differentiablity.py
  tests/scripts/test_flatmodel.py
  tests/scripts/test_functions.py
  tests/scripts/test_inference.py
  tests/scripts/test_summary.py
Labels: tests

output order bug fixed, tests added
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  tests/scripts/test_immediate_extend.py
Labels: logical, tests

bool removed from return type of is_exposed.
  mithril/framework/logical/base.py
Labels: logical

revert json
  tests/json_files/discard_keys_directed_test.json
  tests/json_files/error_test.json
  tests/json_files/integration_directed_test.json
  tests/json_files/models_directed_test.json
  tests/json_files/no_grad_inference_test.json
  tests/json_files/numpy_utils.json
  tests/json_files/primitives_directed_test.json
  tests/json_files/randomized_model_tests_all_backends.json
  tests/json_files/shape_directed_test.json
  tests/json_files/static_keys_directed_test.json
Labels: tests

.github/labeler.yml:

'physical':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/physical/**/*']

'primitives':
- changed-files:
  - any-glob-to-any-file: ['mithril/models/primitives.py']

'operators':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/logical/operators.py']

'models':
- changed-files:
  - any-glob-to-any-file: [mithril/models/models.py']

'logical':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/logical/base.py', 'mithril/framework/logical/model.py', 'mithril/framework/logical/primitive.py', mithril/framework/logical/operator.py']

'backend':
- changed-files:
  - any-glob-to-any-file: ['mithril/backends/**/*']

'cores':
- changed-files:
  - any-glob-to-any-file: ['mithril/cores/**/*']

'tests':
- changed-files:
  - any-glob-to-any-file: ['tests/**/*']

'examples':
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

'codegen':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/codegen/**/*']

'constraints':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/constraints.py']

'benchmarks':
- changed-files:
  - any-glob-to-any-file: ['benchmarks/**/*']

'utils':
- changed-files:
  - any-glob-to-any-file: ['mithril/utils/**/*']

'framework-utils':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/utils.py']

'common':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/common.py']
