Repository synnada-ai/mithril, changes with the labels that .github/labeler.yml gives for each.
All labels: physical, primitives, operators, models, logical, backend, cores, tests, examples, codegen, constraints, benchmarks, utils, framework-utils, common

review fixes
  mithril/cores/c/raw_c/ops.c
  mithril/cores/c/raw_c/ops.h
  mithril/cores/c/raw_c/utils.h
Labels: cores

review and merge fixes
  mithril/cores/c/array.py
  mithril/cores/c/ggml/utils.h
  mithril/cores/c/raw_c/ops.c
  mithril/cores/c/raw_c/utils.h
  mithril/framework/codegen/c_gen.py
  mithril/framework/codegen/ggml_gen.py
Labels: cores, codegen

ci fix: add license
  tests/scripts/test_primitives_c.py
Labels: tests

Split operations updated for modulation model. Recursion limit increased a little bit.
  examples/flux/layers.py
  examples/gpt/run_sample.py
Labels: examples

provisional models are transported to parent while extended
  mithril/framework/constraints.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  tests/scripts/test_immediate_extend.py
Labels: logical, tests, constraints

add license refactor definitons
  mithril/backends/with_manualgrad/c_backend/backend.py
  mithril/backends/with_manualgrad/c_backend/utils.py
  mithril/cores/c/array.py
  mithril/cores/c/raw_c/array.py
  mithril/cores/c/raw_c/definitons.py
Labels: backend, cores

merge fix
  mithril/framework/codegen/ggml_gen.py
Labels: codegen

fix type in raw c for macos ci
  mithril/cores/c/raw_c/ops.c
  mithril/cores/c/raw_c/ops.h
Labels: cores

self-hosted runner is reactivated
  .github/workflows/ci-test-macos.yaml
Labels: none

Bug fixed in _replace_with_primitive.
  examples/flux/layers.py
  mithril/framework/physical/model.py
  mithril/models/models.py
Labels: physical, examples

Updates added to _infer_differentiability.
  mithril/framework/physical/model.py
Labels: physical

review fixes
  mithril/cores/c/ggml/ops.py
Labels: cores

Add pyarray arithmetic tests
  tests/scripts/test_primitives_c.py
  tests/scripts/test_pyarray_arithmetic.py
Labels: tests

pre-commit fix
  tests/scripts/test_pyarray_arithmetic.py
Labels: tests

feat: add static inference support for rawc and ggml backends (#229)
  mithril/backends/with_manualgrad/c_backend/backend.py
  mithril/backends/with_manualgrad/ggml_backend/backend.py
  mithril/cores/c/array.py
  mithril/cores/c/ggml/ops.py
  mithril/cores/c/ggml/utils.py
  mithril/cores/c/raw_c/ops.py
  mithril/cores/c/raw_c/utils.py
  mithril/framework/codegen/ggml_gen.py
  mithril/framework/common.py
  mithril/framework/physical/model.py
  tests/scripts/test_c_static_inference.py
Labels: physical, backend, cores, tests, codegen, common

merge fixes
  mithril/cores/c/ggml/ops.py
  mithril/framework/codegen/ggml_gen.py
Labels: cores, codegen

minor updates (tests added, replicate method added to connection and connections are replicated during the extraction from provisional model to main model.)
  examples/clip/model.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  test_examples/test_clip.py
  tests/scripts/test_immediate_extend.py
Labels: logical, tests, examples

minor shape bug fixed, solvers matched during provisional bindings
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  test_examples/test_clip.py
Labels: logical

review fixes
  mithril/backends/with_manualgrad/c_backend/backend.py
  mithril/backends/with_manualgrad/c_backend/utils.py
  mithril/cores/c/array.py
  mithril/cores/c/ggml/ops.c
  mithril/cores/c/ggml/ops.py
  mithril/cores/c/ggml/utils.h
  mithril/cores/c/raw_c/array.py
  mithril/cores/c/raw_c/definitions.py
  mithril/cores/c/raw_c/ops.c
  mithril/cores/c/raw_c/ops.h
  mithril/cores/c/raw_c/utils.h
  mithril/framework/codegen/c_gen.py
Labels: backend, cores, codegen

update function headers to be compatible with source file
  mithril/cores/c/raw_c/ops.h
Labels: cores

review fixes
  mithril/cores/c/raw_c/ops.c
Labels: cores

extract_submodels method added, minor clean-ups made
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  tests/scripts/test_all_models.py
  tests/scripts/test_immediate_extend.py
Labels: logical, tests

review fixes
  mithril/cores/c/array.py
  mithril/cores/c/raw_c/ops.c
  mithril/cores/c/raw_c/utils.h
Labels: cores

remove unused print function in ggml
  mithril/cores/c/ggml/ops.c
  mithril/cores/c/ggml/ops.h
Labels: cores

added utils.c removed scalar operations from ops
  mithril/cores/c/raw_c/compile.sh
  mithril/cores/c/raw_c/ops.h
  mithril/cores/c/raw_c/utils.c
  mithril/cores/c/raw_c/utils.h
Labels: cores

First attempt for Projects automation.
  .github/workflows/add-to-project.yml
  .github/workflows/auto-move-issue-done.yml
  .github/workflows/auto-move-pr.yml
  .github/workflows/auto-move.yml
  examples/flux/clip.py
  examples/flux/t5.py
Labels: examples

Project URL definiton updated.
  .github/workflows/add-to-project.yml
  .github/workflows/auto-move-pr.yml
  .github/workflows/auto-move.yml
Labels: none

Minor update.
  .github/workflows/auto-move-issue-done.yml
Labels: none

chore: Create automation for Projects. (#271)
  .github/workflows/add-to-project.yml
  .github/workflows/auto-move-issue-done.yml
  .github/workflows/auto-move-pr.yml
  .github/workflows/auto-move.yml
  examples/flux/clip.py
  examples/flux/t5.py
Labels: examples

fix c tests for reduce mean and reduce mean grad
  mithril/cores/c/raw_c/cbackend.h
  mithril/cores/c/raw_c/main.c
  mithril/cores/c/raw_c/ops.c
Labels: cores

Updated actions using github app.
  .github/workflows/add-to-project.yml
  .github/workflows/auto-move-issue-done.yml
  .github/workflows/auto-move-pr.yml
  .github/workflows/auto-move.yml
Labels: none

Version updated.
  .github/workflows/add-to-project.yml
  .github/workflows/auto-move-issue-done.yml
  .github/workflows/auto-move-pr.yml
  .github/workflows/auto-move.yml
Labels: none

Version reupdate.
  .github/workflows/add-to-project.yml
  .github/workflows/auto-move-issue-done.yml
  .github/workflows/auto-move-pr.yml
  .github/workflows/auto-move.yml
Labels: none

chore: Add issues and prs to project (#273)
  .github/workflows/add-to-project.yml
  .github/workflows/auto-move-issue-done.yml
  .github/workflows/auto-move-pr.yml
  .github/workflows/auto-move.yml
Labels: none

Project url added.
  .github/workflows/add-to-project.yml
  .github/workflows/auto-move-issue-done.yml
  .github/workflows/auto-move-pr.yml
  .github/workflows/auto-move.yml
Labels: none

Test push
  .github/workflows/add-to-project.yml
Labels: none

Version updated
  .github/workflows/add-to-project.yml
  .github/workflows/auto-move-issue-done.yml
  .github/workflows/auto-move-pr.yml
  .github/workflows/auto-move.yml
Labels: none

raw c test moved to test folder, minor refactors made in ggml ops.c and ops.h
  mithril/backends/with_manualgrad/ggml_backend/utils.py
  mithril/cores/c/ggml/ops.c
  mithril/cores/c/ggml/ops.h
  mithril/framework/codegen/ggml_gen.py
  tests/scripts/c_tests.c
  tests/scripts/test_raw_c.py
Labels: backend, cores, tests, codegen

minor update on test_raw_c
  tests/scripts/test_raw_c.py
Labels: tests

minor test update
  tests/scripts/test_raw_c.py
Labels: tests

.github/labeler.yml:

'physical':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/physical/**/*']

'primitives':
- changed-files:
  - any-glob-to-any-file: ['mithril/models/primitives.py']

'operators':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/logical/operators.py']

'models':
- changed-files:
  - any-glob-to-any-file: [mithril/models/models.py']

'logical':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/logical/base.py', 'mithril/framework/logical/model.py', 'mithril/framework/logical/primitive.py', mithril/framework/logical/operator.py']

'backend':
- changed-files:
  - any-glob-to-any-file: ['mithril/backends/**/*']

'cores':
- changed-files:
  - any-glob-to-any-file: ['mithril/cores/**/*']

'tests':
- changed-files:
  - any-glob-to-any-file: ['tests/**/*']

'examples':
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

'codegen':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/codegen/**/*']

'constraints':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/constraints.py']

'benchmarks':
- changed-files:
  - any-glob-to-any-file: ['benchmarks/**/*']

'utils':
- changed-files:
  - any-glob-to-any-file: ['mithril/utils/**/*']

'framework-utils':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/utils.py']

'common':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/common.py']
