Repository synnada-ai/mithril, changes with the labels that .github/labeler.yml gives for each.
All labels: physical, primitives, operators, models, logical, backend, cores, tests, examples, codegen, constraints, benchmarks, utils, framework-utils, common

class_name converted to default_name, functional_double_stream_block minor updates made
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/logical/primitive.py
  mithril/framework/physical/model.py
  mithril/models/train_model.py
  test_examples/test_flux.py
Labels: physical, logical

revert json
  tests/json_files/discard_keys_directed_test.json
  tests/json_files/error_test.json
  tests/json_files/integration_directed_test.json
  tests/json_files/models_directed_test.json
  tests/json_files/no_grad_inference_test.json
  tests/json_files/numpy_utils.json
  tests/json_files/primitives_directed_test.json
  tests/json_files/randomized_model_tests_all_backends.json
  tests/json_files/shape_directed_test.json
  tests/json_files/static_keys_directed_test.json
Labels: tests

add function for static variable creation for better readibility
  mithril/framework/codegen/c_style_codegen/ggml_gen.py
Labels: codegen

revert json
  tests/json_files/discard_keys_directed_test.json
  tests/json_files/error_test.json
  tests/json_files/integration_directed_test.json
  tests/json_files/models_directed_test.json
  tests/json_files/no_grad_inference_test.json
  tests/json_files/numpy_utils.json
  tests/json_files/primitives_directed_test.json
  tests/json_files/randomized_model_tests_all_backends.json
  tests/json_files/shape_directed_test.json
  tests/json_files/static_keys_directed_test.json
Labels: tests

feat!: Add Model `__call__` Method and Add Functional API (#361)
  examples/gpt/functional_model.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/logical/operator.py
  mithril/framework/logical/primitive.py
  mithril/framework/physical/model.py
  mithril/models/train_model.py
  test_examples/test_flux.py
  test_examples/test_gpt.py
  tests/scripts/test_immediate_extend.py
Labels: physical, logical, tests, examples

Updated based on reviews.
  mithril/framework/logical/base.py
Labels: logical

update config
  .clang-format
  .pre-commit-config.yaml
  mithril/cores/c/ggml/ggml_backend.h
  mithril/cores/c/ggml/ops.c
  mithril/cores/c/ggml/ops.h
  mithril/cores/c/ggml/utils.h
  mithril/cores/c/raw_c/array.c
  mithril/cores/c/raw_c/ops.c
  mithril/cores/c/raw_c/ops.h
  mithril/cores/c/raw_c/utils.c
  mithril/cores/c/raw_c/utils.h
  setup.py
  tests/json_files/discard_keys_directed_test.json
  tests/json_files/error_test.json
  tests/json_files/integration_directed_test.json
  tests/json_files/models_directed_test.json
  tests/json_files/no_grad_inference_test.json
  tests/json_files/numpy_utils.json
  tests/json_files/primitives_directed_test.json
  tests/json_files/randomized_model_tests_all_backends.json
  tests/json_files/shape_directed_test.json
  tests/json_files/static_keys_directed_test.json
  tests/scripts/c_tests.c
Labels: cores, tests

reviews are applied
  mithril/cores/c/raw_c/libmithrilc.so.dSYM/Contents/Info.plist
  mithril/framework/common.py
  mithril/framework/constraints.py
  tests/scripts/test_constraints.py
  tests/scripts/test_hyperedge.py
Labels: cores, tests, constraints, common

config ocnfig
  .clang-format
  mithril/cores/c/ggml/ops.c
  mithril/cores/c/ggml/ops.h
  mithril/cores/c/ggml/utils.h
  mithril/cores/c/raw_c/array.c
  mithril/cores/c/raw_c/ops.c
  mithril/cores/c/raw_c/ops.h
  mithril/cores/c/raw_c/utils.c
  mithril/cores/c/raw_c/utils.h
  tests/json_files/integration_directed_test.json
  tests/json_files/models_directed_test.json
  tests/json_files/primitives_directed_test.json
  tests/json_files/randomized_model_tests_all_backends.json
  tests/json_files/static_keys_directed_test.json
  tests/scripts/c_tests.c
Labels: cores, tests

Order of exposed keys updated for modulation. Some minor fixes.
  examples/flux/layers.py
Labels: examples

Unnecessary IOKey removed from double_stream_block.
  examples/flux/layers.py
Labels: examples

refactor: Remove expose argument from `ConnectionData` (#367)
  examples/clip/model.py
  examples/clip/model_mlx.py
  examples/flux/layers.py
  examples/model_api/convolution_with_svm.py
  examples/t5.py
  mithril/framework/codegen/py_style_codegen/python_gen.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/models/models.py
  mithril/models/train_model.py
  mithril/utils/dict_conversions.py
  tests/json_files/discard_keys_directed_test.json
  tests/json_files/integration_directed_test.json
  tests/json_files/models_directed_test.json
  tests/json_files/no_grad_inference_test.json
  tests/json_files/randomized_model_tests_all_backends.json
  tests/json_files/static_keys_directed_test.json
  tests/scripts/resnet_model.py
  tests/scripts/test_all_models.py
  tests/scripts/test_canonicality.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_data_store.py
  tests/scripts/test_errors.py
  tests/scripts/test_extend_template.py
  tests/scripts/test_flat_graph.py
  tests/scripts/test_functions.py
  tests/scripts/test_io_key.py
  tests/scripts/test_key_namings.py
  tests/scripts/test_metrics.py
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_recurrent_models.py
  tests/scripts/test_scripts.py
  tests/scripts/test_set_outputs.py
  tests/scripts/test_shapes.py
  tests/scripts/test_skipped.py
  tests/scripts/test_summary.py
  tests/scripts/test_train_context.py
  tests/scripts/test_type_coercion.py
Labels: logical, tests, examples, codegen, utils

format
  tests/json_files/discard_keys_directed_test.json
  tests/json_files/integration_directed_test.json
  tests/json_files/models_directed_test.json
  tests/json_files/no_grad_inference_test.json
  tests/json_files/randomized_model_tests_all_backends.json
  tests/json_files/static_keys_directed_test.json
Labels: tests

hyperedge tests are enriched
  tests/scripts/test_hyperedge.py
Labels: tests

feat: Update all constraints to handle partial transmissions (#366)
  mithril/cores/python/jax/ops.py
  mithril/cores/python/mlx/ops.py
  mithril/cores/python/numpy/ops.py
  mithril/cores/python/torch/ops.py
  mithril/framework/common.py
  mithril/framework/constraints.py
  mithril/framework/physical/flat_graph.py
  mithril/models/primitives.py
  mithril/utils/type_utils.py
  tests/scripts/summary_txts/test_traincontext_summary_resnet
  tests/scripts/test_all_models.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_constraints.py
  tests/scripts/test_hyperedge.py
  tests/scripts/test_scripts.py
  tests/scripts/test_shapes.py
Labels: physical, primitives, cores, tests, constraints, utils, common

chore: Add Clang Formatter (#371)
  .clang-format
  .pre-commit-config.yaml
  mithril/cores/c/ggml/ggml_backend.h
  mithril/cores/c/ggml/ops.c
  mithril/cores/c/ggml/ops.h
  mithril/cores/c/ggml/utils.h
  mithril/cores/c/raw_c/array.c
  mithril/cores/c/raw_c/array.h
  mithril/cores/c/raw_c/ops.c
  mithril/cores/c/raw_c/ops.h
  mithril/cores/c/raw_c/utils.c
  mithril/cores/c/raw_c/utils.h
  setup.py
  tests/json_files/discard_keys_directed_test.json
  tests/json_files/error_test.json
  tests/json_files/integration_directed_test.json
  tests/json_files/models_directed_test.json
  tests/json_files/no_grad_inference_test.json
  tests/json_files/numpy_utils.json
  tests/json_files/primitives_directed_test.json
  tests/json_files/randomized_model_tests_all_backends.json
  tests/json_files/shape_directed_test.json
  tests/json_files/static_keys_directed_test.json
  tests/scripts/c_tests.c
Labels: cores, tests

minor fixes made in jax parallel
  mithril/backends/backend.py
  mithril/backends/parallel.py
  mithril/backends/with_autograd/jax_backend/backend.py
  mithril/backends/with_autograd/jax_backend/parallel.py
  mithril/backends/with_autograd/torch_backend/backend.py
  mithril/backends/with_autograd/torch_backend/parallel.py
  mithril/framework/codegen/py_style_codegen/python_gen.py
  mithril/framework/physical/model.py
  tests/scripts/test_parallel.py
Labels: physical, backend, tests, codegen

skip failed tests
  tests/scripts/test_parallel.py
Labels: tests

automized sharding initial commit
  mithril/framework/physical/model.py
  tests/scripts/test_automized_shardings.py
Labels: physical, tests

pre-commit fix
  tests/scripts/test_automized_shardings.py
Labels: tests

minor fix on TorchParallel and minor test updates made
  mithril/backends/with_autograd/torch_backend/parallel.py
  tests/scripts/test_parallel.py
Labels: backend, tests

minor test fix
  tests/scripts/test_examples.py
Labels: tests

update method name
  mithril/framework/physical/model.py
  tests/scripts/test_propose_shardings.py
Labels: physical, tests

minor bugs on provisional model logic fixed
  mithril/framework/logical/model.py
  tests/scripts/test_immediate_extend.py
Labels: logical, tests

required constraints manually added into constraint_solver in _extend_with_submodels method
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  tests/scripts/test_immediate_extend.py
Labels: logical, tests

minor fix for extending with existing connection after provisional operations
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  tests/scripts/test_immediate_extend.py
Labels: logical, tests

refactor: Add jit Control Algorithm to Compile (#370)
  examples/flux/auto_encoder.py
  mithril/__init__.py
  mithril/backends/backend.py
  mithril/backends/with_autograd/jax_backend/backend.py
  mithril/backends/with_autograd/jax_backend/utils.py
  mithril/backends/with_autograd/mlx_backend/backend.py
  mithril/backends/with_autograd/mlx_backend/utils.py
  mithril/backends/with_autograd/torch_backend/backend.py
  mithril/backends/with_autograd/torch_backend/utils.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/logical/primitive.py
  mithril/framework/physical/flat_graph.py
  mithril/framework/physical/model.py
  mithril/models/primitives.py
  tests/scripts/summary_txts/test_physical_summary_11
  tests/scripts/summary_txts/test_physical_summary_14
  tests/scripts/summary_txts/test_physical_summary_15
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_data_store.py
  tests/scripts/test_extend_template.py
  tests/scripts/test_flat_graph.py
  tests/scripts/test_inference.py
  tests/scripts/test_io_key.py
  tests/scripts/test_jittable.py
  tests/scripts/test_scripts.py
  tests/scripts/test_summary.py
  tests/scripts/test_tuple_list_args_in_extend.py
  tests/scripts/test_type_coercion.py
Labels: physical, primitives, logical, backend, tests, examples

minor fix for _extend
  examples/flux/layers.py
  mithril/framework/logical/model.py
  tests/scripts/test_immediate_extend.py
Labels: logical, tests, examples

fix
  tests/json_files/static_keys_directed_test.json
Labels: tests

fix: Minor bugs in Provisional Logic (#383)
  examples/flux/layers.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  tests/scripts/test_immediate_extend.py
Labels: logical, tests, examples

segformer segmentation model first draft.
  examples/segformer/segformer_decode_head.py
  examples/segformer/segformer_encoder.py
  examples/segformer/segformer_semantic_segmentation.py
  mithril/cores/python/jax/ops.py
  mithril/cores/python/mlx/ops.py
  mithril/cores/python/numpy/ops.py
  mithril/cores/python/torch/ops.py
  mithril/framework/constraints.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/logical/operators.py
  mithril/framework/physical/flat_graph.py
  mithril/models/models.py
  mithril/models/primitives.py
  test_examples/test_segformer.py
  tests/scripts/test_data_store.py
  tests/scripts/test_shapes.py
Labels: physical, primitives, operators, logical, cores, tests, examples, constraints

Torch tests activated for segformer.
  test_examples/test_segformer.py
Labels: none

fix: Minor Errors in Parallel Backends (#379)
  mithril/backends/backend.py
  mithril/backends/parallel.py
  mithril/backends/with_autograd/jax_backend/backend.py
  mithril/backends/with_autograd/jax_backend/parallel.py
  mithril/backends/with_autograd/torch_backend/backend.py
  mithril/backends/with_autograd/torch_backend/parallel.py
  mithril/framework/codegen/py_style_codegen/python_gen.py
  mithril/framework/physical/model.py
  tests/scripts/test_parallel.py
Labels: physical, backend, tests, codegen

feat: Introduce Propose Sharding Logic (#381)
  mithril/framework/physical/model.py
  tests/scripts/test_examples.py
  tests/scripts/test_propose_shardings.py
Labels: physical, tests

remove unnecessary raising condition to allow both jit=True and file_path in compile
  mithril/__init__.py
  tests/scripts/test_jittable.py
Labels: tests

Update test_jittable.py
  tests/scripts/test_jittable.py
Labels: tests

Updated upon reviews. Bug fixed in pruning.
  examples/segformer/segformer_decode_head.py
  examples/segformer/segformer_semantic_segmentation.py
  mithril/framework/physical/flat_graph.py
  mithril/models/models.py
  test_examples/test_segformer.py
  tests/scripts/test_all_models.py
Labels: physical, tests, examples

fix mypy
  mithril/framework/physical/flat_graph.py
Labels: physical

chore: Implement segformer (#386)
  examples/segformer/segformer_decode_head.py
  examples/segformer/segformer_encoder.py
  examples/segformer/segformer_semantic_segmentation.py
  mithril/cores/python/jax/ops.py
  mithril/cores/python/mlx/ops.py
  mithril/cores/python/numpy/ops.py
  mithril/cores/python/torch/ops.py
  mithril/framework/constraints.py
  mithril/framework/logical/model.py
  mithril/framework/logical/operators.py
  mithril/framework/physical/flat_graph.py
  mithril/models/models.py
  mithril/models/primitives.py
  mithril/models/train_model.py
  test_examples/test_segformer.py
  tests/scripts/summary_txts/test_logical_model_summary_2
  tests/scripts/summary_txts/test_resnet18_summary
  tests/scripts/summary_txts/test_resnet_18_physical_summary
  tests/scripts/summary_txts/test_traincontext_summary_resnet
  tests/scripts/test_all_models.py
  tests/scripts/test_data_store.py
  tests/scripts/test_immediate_extend.py
  tests/scripts/test_shapes.py
  tests/scripts/test_summary.py
Labels: physical, primitives, operators, logical, cores, tests, examples, constraints

makeup
  MANIFEST.in
  tests/scripts/summary_txts/test_physical_model_summary_6
  tests/scripts/summary_txts/test_physical_model_summary_7
Labels: tests

.github/labeler.yml:

'physical':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/physical/**/*']

'primitives':
- changed-files:
  - any-glob-to-any-file: ['mithril/models/primitives.py']

'operators':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/logical/operators.py']

'models':
- changed-files:
  - any-glob-to-any-file: [mithril/models/models.py']

'logical':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/logical/base.py', 'mithril/framework/logical/model.py', 'mithril/framework/logical/primitive.py', mithril/framework/logical/operator.py']

'backend':
- changed-files:
  - any-glob-to-any-file: ['mithril/backends/**/*']

'cores':
- changed-files:
  - any-glob-to-any-file: ['mithril/cores/**/*']

'tests':
- changed-files:
  - any-glob-to-any-file: ['tests/**/*']

'examples':
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

'codegen':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/codegen/**/*']

'constraints':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/constraints.py']

'benchmarks':
- changed-files:
  - any-glob-to-any-file: ['benchmarks/**/*']

'utils':
- changed-files:
  - any-glob-to-any-file: ['mithril/utils/**/*']

'framework-utils':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/utils.py']

'common':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/common.py']
