Repository synnada-ai/mithril, changes with the labels that .github/labeler.yml gives for each.
All labels: physical, primitives, operators, models, logical, backend, cores, tests, examples, codegen, constraints, benchmarks, utils, framework-utils, common

chore: Add support for `Tensor` tracing for complex data structures (#266)
  examples/flux/clip.py
  examples/flux/layers.py
  examples/flux/t5.py
  examples/gpt/run_sample.py
  mithril/common.py
  mithril/cores/python/jax/ops.py
  mithril/cores/python/mlx/ops.py
  mithril/cores/python/numpy/ops.py
  mithril/cores/python/numpy/ops_grad.py
  mithril/cores/python/torch/ops.py
  mithril/framework/codegen/numpy_gen.py
  mithril/framework/codegen/python_gen.py
  mithril/framework/common.py
  mithril/framework/constraints.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/logical/operator.py
  mithril/framework/logical/operators.py
  mithril/framework/physical/flat_graph.py
  mithril/framework/physical/model.py
  mithril/framework/utils.py
  mithril/models/models.py
  mithril/models/primitives.py
  mithril/models/train_model.py
  mithril/utils/dict_conversions.py
  tests/scripts/helper.py
  tests/scripts/test_all_models.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_constraints.py
  tests/scripts/test_extend_template.py
  tests/scripts/test_flatmodel.py
  tests/scripts/test_immediate_extend.py
  tests/scripts/test_io_key.py
  tests/scripts/test_primitive_directed.py
Labels: physical, primitives, operators, logical, cores, tests, examples, codegen, constraints, utils, framework-utils, common

Edge tests are enriched. Hyperedge value match logic is slightly changed
  mithril/framework/common.py
  tests/scripts/test_hyperedge.py
  tests/scripts/test_ref_counts.py
Labels: tests, common

dylib file is deleted
  mithril/cores/c/ggml/.gitignore
  mithril/cores/c/ggml/libmithrilggml.dylib
Labels: cores

ggml changes
  .gitignore
Labels: none

temporary gitignore file is deleted
  mithril/cores/c/ggml/.gitignore
Labels: cores

gitignore changed
  .gitignore
Labels: none

gitignore changed
  .gitignore
Labels: none

gitignore changed
  .gitignore
Labels: none

submodule is updated
  .gitmodules
Labels: none

review changes
  mithril/framework/codegen/c_style_codegen/c_gen.py
  mithril/framework/codegen/c_style_codegen/ggml_gen.py
Labels: codegen

error message of _match_values is updated
  .gitmodules
  mithril/framework/common.py
  mithril/framework/logical/base.py
  tests/scripts/test_hyperedge.py
  tests/scripts/test_scripts.py
  tests/scripts/test_set_values.py
Labels: logical, tests, common

reviews applied
  tests/scripts/test_hyperedge.py
Labels: tests

ggml is reverted
  mithril/cores/c/ggml/libmithrilggml.dylib
Labels: cores

refactor: Reorganize codegen modules and improve backend compatibility (#330)
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  mithril/cores/c/ggml/utils.h
  mithril/framework/codegen/__init__.py
  mithril/framework/codegen/c_style_codegen/c_ast.py
  mithril/framework/codegen/c_style_codegen/c_gen.py
  mithril/framework/codegen/c_style_codegen/ggml_gen.py
  mithril/framework/codegen/c_style_codegen/raw_c_gen.py
  mithril/framework/codegen/c_style_codegen/utils.py
  mithril/framework/codegen/py_style_codegen/numpy_gen.py
  mithril/framework/codegen/py_style_codegen/python_gen.py
  mithril/framework/codegen/py_style_codegen/torch_gen.py
  mithril/framework/physical/flat_graph.py
  tests/scripts/test_primitive_directed.py
Labels: physical, backend, cores, tests, codegen

add immediate support for c backends
  mithril/cores/c/raw_c/ops.c
  mithril/cores/c/raw_c/ops.h
  mithril/cores/c/raw_c/utils.c
  mithril/cores/c/raw_c/utils.h
  mithril/framework/codegen/c_style_codegen/c_ast.py
  mithril/framework/codegen/c_style_codegen/c_gen.py
  mithril/framework/codegen/c_style_codegen/ggml_gen.py
  mithril/framework/codegen/c_style_codegen/raw_c_gen.py
  mithril/framework/codegen/code_gen.py
  mithril/framework/physical/flat_graph.py
  tests/scripts/test_c_ast.py
  tests/scripts/test_c_backend.py
  tests/scripts/test_c_raw.py
  tests/scripts/test_functions.py
  tests/scripts/test_primitives_c.py
Labels: physical, cores, tests, codegen

total object count test is also implemented
  mithril/framework/logical/base.py
  tests/scripts/test_ref_counts.py
Labels: logical, tests

add shard dim support
  mithril/backends/with_autograd/torch_backend/parallel.py
  mithril/backends/with_autograd/torch_backend/utils.py
  tests/scripts/test_parallel.py
Labels: backend, tests

reviews are applied
  mithril/framework/common.py
  tests/scripts/test_hyperedge.py
  tests/scripts/test_ref_counts.py
Labels: tests, common

review updates
  mithril/backends/with_autograd/torch_backend/parallel.py
  mithril/backends/with_autograd/torch_backend/utils.py
  tests/scripts/test_parallel.py
Labels: backend, tests

update yamls
  .github/workflows/ci-test-example.yml
  .github/workflows/ci-test-macos.yaml
  .github/workflows/ci-test-ubuntu.yaml
Labels: none

update yaml
  .github/workflows/ci-test-example.yml
Labels: none

feat: Add Sharding Dimension Support to Parallel API (#346)
  .github/workflows/ci-test-macos.yaml
  .github/workflows/ci-test-ubuntu.yaml
  mithril/backends/with_autograd/torch_backend/parallel.py
  mithril/backends/with_autograd/torch_backend/utils.py
  tests/scripts/test_parallel.py
Labels: backend, tests

reviews are applied
  .gitignore
  .gitmodules
  mithril/framework/common.py
  tests/scripts/test_hyperedge.py
  tests/scripts/test_ref_counts.py
Labels: tests, common

integrate async ops to mithril, add an async mlp example.
  examples/async_mlp/async_mlp_model.py
  examples/async_mlp/run_async_mlp.py
  mithril/backends/with_autograd/torch_backend/stensor.py
  mithril/backends/with_autograd/torch_backend/utils.py
  mithril/cores/python/torch/ops.py
Labels: backend, cores, examples

redundant if check is removed
  mithril/framework/logical/base.py
Labels: logical

numpy mypy errors are fied
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  mithril/cores/python/numpy/ops.py
Labels: backend, cores

fix mypy numpy updates
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  mithril/cores/python/numpy/ops.py
Labels: backend, cores

is_valued tests are added
  tests/scripts/test_type_consistencies.py
Labels: tests

review updates
  mithril/cores/c/raw_c/ops.c
  mithril/framework/codegen/c_style_codegen/c_ast.py
  tests/scripts/c_tests.c
  tests/scripts/test_c_ast.py
  tests/scripts/test_c_raw.py
Labels: cores, tests, codegen

fix: Update ` set_value_recursively` to handle partial values (#329)
  .gitignore
  .gitmodules
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  mithril/cores/python/numpy/ops.py
  mithril/framework/common.py
  mithril/framework/logical/base.py
  tests/scripts/test_hyperedge.py
  tests/scripts/test_ref_counts.py
  tests/scripts/test_scripts.py
  tests/scripts/test_set_values.py
  tests/scripts/test_type_consistencies.py
Labels: logical, backend, cores, tests, common

mypy
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  mithril/cores/python/numpy/ops.py
  mithril/framework/codegen/code_gen.py
  mithril/framework/codegen/py_style_codegen/python_gen.py
Labels: backend, cores, codegen

ggml is reverted
  mithril/cores/c/ggml/libmithrilggml.dylib
Labels: cores

refactor python codegen
  mithril/backends/backend.py
  mithril/backends/with_autograd/jax_backend/backend.py
  mithril/backends/with_autograd/mlx_backend/backend.py
  mithril/backends/with_autograd/torch_backend/backend.py
  mithril/backends/with_manualgrad/c_backend/backend.py
  mithril/backends/with_manualgrad/ggml_backend/backend.py
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  mithril/framework/codegen/py_style_codegen/numpy_gen.py
  mithril/framework/codegen/py_style_codegen/python_gen.py
  mithril/framework/codegen/py_style_codegen/torch_gen.py
  mithril/framework/physical/flat_graph.py
  mithril/framework/physical/model.py
  tests/scripts/test_flatmodel.py
  tests/scripts/test_immediate_extend.py
  tests/scripts/test_primitive_directed.py
Labels: physical, backend, tests, codegen

perf: Performance of model compilation improved, total object size is decreased. (#277)
  mithril/cores/c/ggml/libmithrilggml.dylib
  mithril/framework/common.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/physical/flat_graph.py
  mithril/utils/dict_conversions.py
  tests/scripts/test_ref_counts.py
  tests/scripts/test_scripts.py
Labels: physical, logical, cores, tests, utils, common

chore: add immediate support for c backends (#343)
  mithril/cores/c/raw_c/ops.c
  mithril/cores/c/raw_c/ops.h
  mithril/cores/c/raw_c/utils.c
  mithril/cores/c/raw_c/utils.h
  mithril/framework/codegen/c_style_codegen/c_ast.py
  mithril/framework/codegen/c_style_codegen/c_gen.py
  mithril/framework/codegen/c_style_codegen/ggml_gen.py
  mithril/framework/codegen/c_style_codegen/raw_c_gen.py
  mithril/framework/codegen/code_gen.py
  mithril/framework/codegen/py_style_codegen/python_gen.py
  mithril/framework/physical/flat_graph.py
  tests/scripts/c_tests.c
  tests/scripts/test_c_ast.py
  tests/scripts/test_c_backend.py
  tests/scripts/test_functions.py
  tests/scripts/test_primitives_c.py
Labels: physical, cores, tests, codegen

add post insert support to flatgraph
  mithril/framework/physical/flat_graph.py
  tests/scripts/test_flat_graph.py
Labels: physical, tests

refactor: update requirements
  .github/workflows/ci-test-example.yml
  .github/workflows/ci-test-macos.yaml
  .github/workflows/ci-test-ubuntu.yaml
  requirements/dev.txt
Labels: none

more tests
  mithril/framework/physical/flat_graph.py
  tests/scripts/test_flat_graph.py
Labels: physical, tests

update yamls
  .github/workflows/ci-test-macos.yaml
  examples/flux/conditioner.py
Labels: examples

review updates
  mithril/framework/codegen/py_style_codegen/python_gen.py
Labels: codegen

.github/labeler.yml:

'physical':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/physical/**/*']

'primitives':
- changed-files:
  - any-glob-to-any-file: ['mithril/models/primitives.py']

'operators':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/logical/operators.py']

'models':
- changed-files:
  - any-glob-to-any-file: [mithril/models/models.py']

'logical':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/logical/base.py', 'mithril/framework/logical/model.py', 'mithril/framework/logical/primitive.py', mithril/framework/logical/operator.py']

'backend':
- changed-files:
  - any-glob-to-any-file: ['mithril/backends/**/*']

'cores':
- changed-files:
  - any-glob-to-any-file: ['mithril/cores/**/*']

'tests':
- changed-files:
  - any-glob-to-any-file: ['tests/**/*']

'examples':
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

'codegen':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/codegen/**/*']

'constraints':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/constraints.py']

'benchmarks':
- changed-files:
  - any-glob-to-any-file: ['benchmarks/**/*']

'utils':
- changed-files:
  - any-glob-to-any-file: ['mithril/utils/**/*']

'framework-utils':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/utils.py']

'common':
- changed-files:
  - any-glob-to-any-file: ['mithril/framework/common.py']
