Repository synnada-ai/mithril, pull requests merged in 2024-12, with the labels that each got.

#49 feat: do not elevate valued scalar inputs to upper level models
  mithril/framework/codegen/numpy_gen.py
  mithril/framework/common.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/physical/model.py
  mithril/models/primitives.py
  mithril/utils/dict_conversions.py
  tests/json_files/discard_keys_directed_test.json
  tests/json_files/error_test.json
  tests/scripts/helper.py
  tests/scripts/summary_txts/test_logical_model_summary_2
  tests/scripts/summary_txts/test_logical_model_summary_5
  tests/scripts/summary_txts/test_physical_summary_3
  tests/scripts/summary_txts/test_physical_summary_3_logical_with_depth
  tests/scripts/summary_txts/test_resnet18_summary
  tests/scripts/summary_txts/test_resnet_18_physical_summary
  tests/scripts/summary_txts/test_traincontext_summary_resnet
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_data_store.py
  tests/scripts/test_extend_template.py
  tests/scripts/test_io_key.py
  tests/scripts/test_key_namings.py
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_scripts.py
  tests/scripts/test_shapes.py
  tests/scripts/test_summary.py
  tests/scripts/test_train_context.py
  tests/scripts/test_type_consistencies.py
Labels: physical, logical, tests, common, models, utils, codegen

#51 feat: Accept all immediate inputs during initialization of defined models
  mithril/framework/common.py
  mithril/framework/logical/base.py
  mithril/framework/logical/essential_primitives.py
  mithril/framework/logical/model.py
  mithril/models/models.py
  mithril/models/primitives.py
  tests/scripts/test_all_models.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_data_store.py
  tests/scripts/test_key_values_in_init.py
  tests/scripts/test_scripts.py
  tests/scripts/test_skipped.py
Labels: logical, tests, common, models

#48 feat: Align Linear Model Weight Shape with Other Frameworks
  README.md
  mithril/backends/with_autograd/torch_backend/ops.py
  mithril/backends/with_autograd/torch_backend/stensor.py
  mithril/framework/codegen/python_gen.py
  mithril/models/models.py
  tests/json_files/discard_keys_directed_test.json
  tests/json_files/error_test.json
  tests/json_files/integration_directed_test.json
  tests/json_files/models_directed_test.json
  tests/json_files/randomized_model_tests_all_backends.json
  tests/scripts/summary_txts/test_logical_model_summary_1
  tests/scripts/summary_txts/test_logical_model_summary_13
  tests/scripts/summary_txts/test_logical_model_summary_2
  tests/scripts/summary_txts/test_logical_model_summary_5
  tests/scripts/summary_txts/test_physical_model_summary_6
  tests/scripts/summary_txts/test_physical_model_summary_7
  tests/scripts/summary_txts/test_physical_summary_1
  tests/scripts/summary_txts/test_physical_summary_15
  tests/scripts/summary_txts/test_physical_summary_16
  tests/scripts/summary_txts/test_physical_summary_17
  tests/scripts/summary_txts/test_physical_summary_2
  tests/scripts/summary_txts/test_physical_summary_3
  tests/scripts/summary_txts/test_physical_summary_3_logical_with_depth
  tests/scripts/summary_txts/test_physical_summary_4
  tests/scripts/summary_txts/test_physical_summary_5
  tests/scripts/summary_txts/test_resnet18_summary
  tests/scripts/summary_txts/test_resnet_18_physical_summary
  tests/scripts/summary_txts/test_summary_nontensor_models
  tests/scripts/summary_txts/test_summary_of_nested_composite_model_with_names
  tests/scripts/summary_txts/test_traincontext_summary
  tests/scripts/summary_txts/test_traincontext_summary_7
  tests/scripts/summary_txts/test_traincontext_summary_regex_reg
  tests/scripts/summary_txts/test_traincontext_summary_resnet
  tests/scripts/test_compile_keys_consistencies.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_data_store.py
  tests/scripts/test_io_key.py
  tests/scripts/test_key_namings.py
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_parallel.py
  tests/scripts/test_scripts.py
  tests/scripts/test_set_outputs.py
  tests/scripts/test_shapes.py
  tests/scripts/test_summary.py
  tests/scripts/test_train_context.py
Labels: tests, backend, models, codegen

#57 style: return type of evaluate, evaluate_all and evaluate_gradients are fixed
  examples/gpt/run_sample.py
  examples/model_api/cnn_forcast_sine_training.py
  examples/model_api/variable_length_many_to_one_lstm.py
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  mithril/framework/codegen/c_gen.py
  mithril/framework/codegen/code_gen.py
  mithril/framework/codegen/numpy_gen.py
  mithril/framework/codegen/python_gen.py
  mithril/framework/codegen/utils.py
  mithril/framework/constraints.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/physical/model.py
  mithril/framework/utils.py
  mithril/utils/func_utils.py
  mithril/utils/utils.py
  tests/scripts/helper.py
  tests/scripts/test_all_models.py
  tests/scripts/test_c_backend.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_extend_template.py
  tests/scripts/test_io_key.py
  tests/scripts/test_jittable.py
  tests/scripts/test_metrics.py
  tests/scripts/test_parallel.py
  tests/scripts/test_recurrent_models.py
  tests/scripts/test_scripts.py
  tests/scripts/test_train_context.py
  tests/scripts/test_type_coercion.py
  tests/scripts/test_type_consistencies.py
  tests/utils.py
Labels: physical, logical, tests, backend, constraints, utils, framework-utils, examples, codegen

#59 chore: Convert dag order to insertion order
  mithril/framework/logical/model.py
  mithril/framework/physical/model.py
  mithril/utils/dict_conversions.py
  tests/scripts/summary_txts/test_simple_extend_from_input_summary
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_summary.py
Labels: physical, logical, tests, utils

#66 feat: Unify key definitions with IOKey in initialization of all primitive models
  mithril/framework/common.py
  mithril/framework/logical/base.py
  mithril/framework/logical/essential_primitives.py
  mithril/framework/logical/model.py
  mithril/framework/logical/primitive.py
  mithril/models/primitives.py
  mithril/utils/dict_conversions.py
  tests/scripts/test_constr_counter.py
  tests/scripts/test_functions.py
  tests/scripts/test_jittable.py
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_ref_counts.py
  tests/scripts/test_scripts.py
  tests/scripts/test_shapes.py
  tests/scripts/test_type_coercion.py
  tests/scripts/test_type_consistencies.py
Labels: logical, tests, common, models, utils

#61 chore: Add type annotations to codegen files
  examples/gpt/run_sample.py
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  mithril/backends/with_manualgrad/numpy_backend/ops.py
  mithril/framework/codegen/c_gen.py
  mithril/framework/codegen/code_gen.py
  mithril/framework/codegen/numpy_gen.py
  mithril/framework/codegen/python_gen.py
  mithril/framework/codegen/torch_gen.py
  mithril/framework/common.py
  mithril/framework/constraints.py
  mithril/framework/physical/model.py
  tests/scripts/test_all_models.py
  tests/scripts/test_utils.py
Labels: physical, tests, common, backend, constraints, examples, codegen

#63 chore: Refactor PM Naming Algorithm
  examples/gpt/run_sample.py
  mithril/__init__.py
  mithril/backends/with_manualgrad/c_backend/backend.py
  mithril/backends/with_manualgrad/numpy_backend/ops.py
  mithril/framework/physical/flat_graph.py
  mithril/framework/physical/model.py
  tests/json_files/discard_keys_directed_test.json
  tests/json_files/static_keys_directed_test.json
  tests/scripts/summary_txts/test_physical_model_summary_5
  tests/scripts/summary_txts/test_physical_model_summary_8
  tests/scripts/summary_txts/test_physical_model_summary_9
  tests/scripts/summary_txts/test_physical_summary_1
  tests/scripts/summary_txts/test_physical_summary_16
  tests/scripts/summary_txts/test_physical_summary_17
  tests/scripts/summary_txts/test_physical_summary_2
  tests/scripts/summary_txts/test_physical_summary_3
  tests/scripts/summary_txts/test_physical_summary_4
  tests/scripts/summary_txts/test_physical_summary_5
  tests/scripts/summary_txts/test_primitive_model_summary_4
  tests/scripts/summary_txts/test_primitive_model_summary_5
  tests/scripts/summary_txts/test_primitive_model_summary_6
  tests/scripts/summary_txts/test_primitive_model_summary_7
  tests/scripts/test_c_backend.py
  tests/scripts/test_codegen.py
  tests/scripts/test_compile_keys_consistencies.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_data_store.py
  tests/scripts/test_differentiablity.py
  tests/scripts/test_flatmodel.py
  tests/scripts/test_functions.py
  tests/scripts/test_inference.py
  tests/scripts/test_io_key.py
  tests/scripts/test_key_namings.py
  tests/scripts/test_key_values_in_init.py
  tests/scripts/test_scripts.py
  tests/scripts/test_shapes.py
  tests/scripts/test_summary.py
  tests/scripts/test_train_context.py
  tests/utils.py
Labels: physical, tests, backend, examples

#71 chore: Remove writing data type values to tensor
  mithril/framework/codegen/numpy_gen.py
  mithril/framework/codegen/python_gen.py
  mithril/framework/codegen/utils.py
  mithril/framework/logical/essential_primitives.py
  mithril/framework/logical/model.py
  mithril/framework/physical/data_store.py
  mithril/framework/physical/model.py
  mithril/utils/func_utils.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_data_store.py
  tests/scripts/test_key_values_in_init.py
  tests/scripts/test_skipped.py
Labels: physical, logical, tests, models, utils, codegen

#73 chore: Rename Models Input Keys
  README.md
  mithril/backends/with_autograd/jax_backend/ops.py
  mithril/backends/with_autograd/mlx_backend/ops.py
  mithril/backends/with_autograd/torch_backend/ops.py
  mithril/backends/with_manualgrad/numpy_backend/ops.py
  mithril/framework/common.py
  mithril/models/models.py
  mithril/models/primitives.py
  tests/json_files/discard_keys_directed_test.json
  tests/json_files/error_test.json
  tests/json_files/integration_directed_test.json
  tests/json_files/models_directed_test.json
  tests/json_files/randomized_model_tests_all_backends.json
  tests/scripts/summary_txts/test_logical_model_summary_1
  tests/scripts/summary_txts/test_logical_model_summary_13
  tests/scripts/summary_txts/test_logical_model_summary_2
  tests/scripts/summary_txts/test_logical_model_summary_5
  tests/scripts/summary_txts/test_physical_model_summary_6
  tests/scripts/summary_txts/test_physical_model_summary_7
  tests/scripts/summary_txts/test_physical_summary_1
  tests/scripts/summary_txts/test_physical_summary_15
  tests/scripts/summary_txts/test_physical_summary_2
  tests/scripts/summary_txts/test_physical_summary_3
  tests/scripts/summary_txts/test_physical_summary_3_logical_with_depth
  tests/scripts/summary_txts/test_physical_summary_4
  tests/scripts/summary_txts/test_physical_summary_5
  tests/scripts/summary_txts/test_resnet18_summary
  tests/scripts/summary_txts/test_resnet_18_physical_summary
  tests/scripts/summary_txts/test_simple_extend_from_input_summary
  tests/scripts/summary_txts/test_summary_nontensor_models
  tests/scripts/summary_txts/test_summary_of_nested_composite_model_with_names
  tests/scripts/summary_txts/test_traincontext_summary
  tests/scripts/summary_txts/test_traincontext_summary_7
  tests/scripts/summary_txts/test_traincontext_summary_regex_reg
  tests/scripts/summary_txts/test_traincontext_summary_resnet
  tests/scripts/test_all_models.py
  tests/scripts/test_codegen.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_data_store.py
  tests/scripts/test_differentiablity.py
  tests/scripts/test_extend_template.py
  tests/scripts/test_flatmodel.py
  tests/scripts/test_functions.py
  tests/scripts/test_io_key.py
  tests/scripts/test_key_namings.py
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_parallel.py
  tests/scripts/test_scripts.py
  tests/scripts/test_set_outputs.py
  tests/scripts/test_set_types.py
  tests/scripts/test_set_values.py
  tests/scripts/test_shapes.py
  tests/scripts/test_summary.py
  tests/scripts/test_torch_naming_match.py
  tests/scripts/test_train_context.py
  tests/scripts/test_type_coercion.py
  tests/scripts/test_type_consistencies.py
  tests/utils.py
Labels: tests, common, backend, models

#67 chore: formula key is no longer init arg
  mithril/framework/codegen/c_gen.py
  mithril/framework/codegen/numpy_gen.py
  mithril/framework/codegen/python_gen.py
  mithril/framework/logical/model.py
  mithril/framework/logical/primitive.py
  mithril/framework/physical/data_store.py
  mithril/framework/physical/flat_graph.py
  mithril/framework/physical/model.py
  mithril/models/models.py
  mithril/models/primitives.py
  tests/scripts/test_flatmodel.py
  tests/scripts/test_utils.py
Labels: physical, logical, tests, models, codegen

#74 chore: Remove cycle handling flat graph
  mithril/framework/physical/flat_graph.py
Labels: physical

#81 refactor!: Remove auto conversions
  mithril/framework/common.py
  mithril/framework/constraints.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/physical/data_store.py
  mithril/framework/physical/model.py
  mithril/models/models.py
  tests/json_files/discard_keys_directed_test.json
  tests/scripts/summary_txts/test_logical_model_summary_2
  tests/scripts/summary_txts/test_logical_model_summary_9
  tests/scripts/summary_txts/test_physical_summary_1
  tests/scripts/summary_txts/test_physical_summary_2
  tests/scripts/summary_txts/test_physical_summary_3
  tests/scripts/summary_txts/test_physical_summary_3_logical_with_depth
  tests/scripts/summary_txts/test_physical_summary_4
  tests/scripts/summary_txts/test_primitive_model_summary_7
  tests/scripts/summary_txts/test_primitive_model_summary_8
  tests/scripts/summary_txts/test_resnet18_summary
  tests/scripts/summary_txts/test_traincontext_summary
  tests/scripts/summary_txts/test_traincontext_summary_2
  tests/scripts/summary_txts/test_traincontext_summary_3
  tests/scripts/summary_txts/test_traincontext_summary_resnet
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_data_store.py
  tests/scripts/test_extend_template.py
  tests/scripts/test_functions.py
  tests/scripts/test_io_key.py
  tests/scripts/test_jittable.py
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_ref_counts.py
  tests/scripts/test_scripts.py
  tests/scripts/test_set_values.py
  tests/scripts/test_shapes.py
  tests/scripts/test_tuple_list_args_in_extend.py
  tests/scripts/test_type_coercion.py
  tests/scripts/test_type_consistencies.py
Labels: physical, logical, tests, common, models, constraints

#78 refactor: Rearrange Nano GPT Model Names for Consistency
  examples/gpt/model.py
  examples/gpt/run_sample.py
  mithril/backends/with_autograd/common_primitives.py
  mithril/backends/with_manualgrad/common_primitives.py
  mithril/backends/with_manualgrad/numpy_backend/ops.py
  mithril/models/primitives.py
  tests/json_files/models_directed_test.json
  tests/json_files/randomized_model_tests_all_backends.json
Labels: tests, backend, models, examples

#82 fix: Solve bug on tensor item constraints
  mithril/framework/constraints.py
  tests/scripts/test_constraints.py
Labels: tests, constraints

#88 refactor: Consolidate `Tensor`and `Scalar` methods
  examples/gpt/run_sample.py
  mithril/framework/codegen/numpy_gen.py
  mithril/framework/common.py
  mithril/framework/constraints.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/logical/primitive.py
  mithril/framework/physical/data_store.py
  mithril/framework/physical/flat_graph.py
  mithril/framework/physical/model.py
  mithril/framework/utils.py
  mithril/models/primitives.py
  mithril/utils/dict_conversions.py
  mithril/utils/func_utils.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_constraints.py
  tests/scripts/test_differentiablity.py
  tests/scripts/test_randomized_models_all_backends.py
  tests/scripts/test_recurrent_models.py
  tests/scripts/test_scripts.py
  tests/scripts/test_set_values.py
  tests/scripts/test_shapes.py
  tests/scripts/test_skipped.py
  tests/scripts/test_type_coercion.py
  tests/scripts/test_type_consistencies.py
Labels: physical, logical, tests, common, models, constraints, utils, framework-utils, examples, codegen

#94 feat: Add connections field to IOKey and remove Connect object
  mithril/__init__.py
  mithril/framework/common.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/utils/dict_conversions.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_io_key.py
  tests/scripts/test_jittable.py
  tests/scripts/test_key_values_in_init.py
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_parallel.py
  tests/scripts/test_ref_counts.py
  tests/scripts/test_scripts.py
  tests/scripts/test_set_types.py
  tests/scripts/test_shapes.py
  tests/scripts/test_summary.py
  tests/scripts/test_type_coercion.py
  tests/scripts/test_type_consistencies.py
Labels: logical, tests, common, utils

#91 fix: Valued connections should not be canonical input
  mithril/framework/logical/model.py
  tests/scripts/test_scripts.py
Labels: logical, tests

#96 chore: Add FLUX layers
  examples/flux/layers.py
Labels: examples

#92 chore: Fix type errors backend files
  benchmarks/speed_benchmarks/speed_helper.py
  examples/gpt/run_sample.py
  mithril/backends/backend.py
  mithril/backends/parallel.py
  mithril/backends/with_autograd/common_primitives.py
  mithril/backends/with_autograd/jax_backend/backend.py
  mithril/backends/with_autograd/jax_backend/ops.py
  mithril/backends/with_autograd/jax_backend/parallel.py
  mithril/backends/with_autograd/jax_backend/utils.py
  mithril/backends/with_autograd/mlx_backend/backend.py
  mithril/backends/with_autograd/mlx_backend/ops.py
  mithril/backends/with_autograd/mlx_backend/utils.py
  mithril/backends/with_autograd/torch_backend/backend.py
  mithril/backends/with_autograd/torch_backend/ops.py
  mithril/backends/with_autograd/torch_backend/parallel.py
  mithril/backends/with_autograd/torch_backend/stensor.py
  mithril/backends/with_autograd/torch_backend/utils.py
  mithril/backends/with_manualgrad/c_backend/backend.py
  mithril/backends/with_manualgrad/c_backend/src/array.py
  mithril/backends/with_manualgrad/c_backend/src/array.pyi
  mithril/backends/with_manualgrad/c_backend/src/utils.py
  mithril/backends/with_manualgrad/common_primitives.py
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  mithril/backends/with_manualgrad/numpy_backend/ops.py
  mithril/backends/with_manualgrad/numpy_backend/ops_grad.py
  mithril/backends/with_manualgrad/numpy_backend/utils.py
  mithril/core.py
  mithril/framework/codegen/python_gen.py
  mithril/framework/constraints.py
  mithril/framework/physical/model.py
  mithril/utils/utils.py
  tests/scripts/helper.py
  tests/scripts/test_all_models.py
  tests/scripts/test_backend_fns.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_parallel.py
  tests/scripts/test_randomized_models_all_backends.py
  tests/scripts/test_scripts.py
Labels: physical, tests, backend, constraints, utils, examples, codegen, benchmarks

#101 feat: Add EmbedND model for Flux
  examples/flux/layers.py
Labels: examples

#98 feat: Add zeros like primitive
  mithril/backends/with_autograd/jax_backend/ops.py
  mithril/backends/with_autograd/mlx_backend/ops.py
  mithril/backends/with_autograd/torch_backend/ops.py
  mithril/backends/with_manualgrad/numpy_backend/ops.py
  mithril/backends/with_manualgrad/numpy_backend/ops_grad.py
  mithril/models/primitives.py
  tests/scripts/test_all_models.py
  tests/scripts/test_shapes.py
Labels: tests, backend, models

#100 feat: Add exp method to Extend Template
  mithril/framework/common.py
  mithril/framework/logical/essential_primitives.py
  mithril/framework/logical/model.py
  mithril/models/models.py
  mithril/models/primitives.py
  tests/scripts/test_extend_template.py
Labels: logical, tests, common, models

#104 feat: Add item method to Extend Template
  mithril/framework/common.py
  mithril/framework/logical/model.py
  tests/scripts/test_extend_template.py
Labels: logical, tests, common

#107 refactor: Refactor gpt
  examples/gpt/model.py
  examples/gpt/run_sample.py
Labels: examples

#108 feat: Add Randn primitive
  mithril/backends/with_autograd/jax_backend/ops.py
  mithril/backends/with_autograd/mlx_backend/ops.py
  mithril/backends/with_autograd/torch_backend/ops.py
  mithril/backends/with_manualgrad/numpy_backend/ops.py
  mithril/framework/constraints.py
  mithril/models/primitives.py
  tests/scripts/test_all_models.py
  tests/scripts/test_constraints.py
Labels: tests, backend, models, constraints

#113 chore: Add Flux auto encoder model
  examples/flux/auto_encoder.py
  mithril/models/primitives.py
Labels: models, examples

#111 refactor: Refactor extend
  mithril/framework/common.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/models/models.py
  tests/scripts/test_data_store.py
  tests/scripts/test_errors.py
  tests/scripts/test_key_values_in_init.py
  tests/scripts/test_scripts.py
Labels: logical, tests, common, models

#117 refactor: Make IOKey dataclass derived from BaseKey
  examples/flux/auto_encoder.py
  examples/flux/layers.py
  examples/gpt/model.py
  mithril/framework/common.py
  mithril/framework/logical/base.py
  mithril/framework/logical/essential_primitives.py
  mithril/framework/logical/model.py
  mithril/framework/logical/primitive.py
  mithril/models/models.py
  mithril/models/primitives.py
  mithril/utils/dict_conversions.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_constr_counter.py
  tests/scripts/test_extend_template.py
  tests/scripts/test_functions.py
  tests/scripts/test_io_key.py
  tests/scripts/test_jittable.py
  tests/scripts/test_key_values_in_init.py
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_parallel.py
  tests/scripts/test_ref_counts.py
  tests/scripts/test_scripts.py
  tests/scripts/test_set_types.py
  tests/scripts/test_shapes.py
  tests/scripts/test_summary.py
  tests/scripts/test_tuple_list_args_in_extend.py
  tests/scripts/test_type_coercion.py
  tests/scripts/test_type_consistencies.py
Labels: logical, tests, common, models, utils, examples

#121 refactor: unify `TensorItem` and `TensorSlice` models
  mithril/backends/with_autograd/common_primitives.py
  mithril/backends/with_autograd/jax_backend/ops.py
  mithril/backends/with_autograd/mlx_backend/ops.py
  mithril/backends/with_autograd/torch_backend/ops.py
  mithril/backends/with_manualgrad/common_primitives.py
  mithril/backends/with_manualgrad/numpy_backend/ops.py
  mithril/backends/with_manualgrad/numpy_backend/ops_grad.py
  mithril/framework/constraints.py
  mithril/framework/logical/essential_primitives.py
  mithril/framework/logical/model.py
  mithril/framework/physical/model.py
  mithril/models/models.py
  tests/json_files/models_directed_test.json
  tests/json_files/primitives_directed_test.json
  tests/json_files/randomized_model_tests_all_backends.json
  tests/scripts/test_all_models.py
  tests/scripts/test_constr_counter.py
  tests/scripts/test_primitive_directed.py
  tests/scripts/test_recurrent_models.py
Labels: physical, logical, tests, backend, models, constraints

#122 refactor: Remove backend array creation/conversion wrapper
  mithril/backends/backend.py
  mithril/backends/with_autograd/jax_backend/backend.py
  mithril/backends/with_autograd/jax_backend/utils.py
  mithril/backends/with_autograd/mlx_backend/backend.py
  mithril/backends/with_autograd/mlx_backend/utils.py
  mithril/backends/with_autograd/torch_backend/backend.py
  mithril/backends/with_autograd/torch_backend/utils.py
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  mithril/backends/with_manualgrad/numpy_backend/utils.py
Labels: backend

#126 chore: fix underscored attributes used outside of class
  mithril/__init__.py
  mithril/backends/backend.py
  mithril/backends/with_autograd/jax_backend/backend.py
  mithril/backends/with_autograd/mlx_backend/backend.py
  mithril/backends/with_autograd/torch_backend/backend.py
  mithril/backends/with_autograd/torch_backend/parallel.py
  mithril/backends/with_autograd/torch_backend/stensor.py
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  mithril/framework/codegen/c_gen.py
  mithril/framework/codegen/numpy_gen.py
  mithril/framework/codegen/python_gen.py
  mithril/framework/codegen/torch_gen.py
  mithril/framework/codegen/utils.py
  mithril/framework/common.py
  mithril/framework/constraints.py
  mithril/framework/logical/base.py
  mithril/framework/logical/essential_primitives.py
  mithril/framework/logical/model.py
  mithril/framework/logical/primitive.py
  mithril/framework/physical/data_store.py
  mithril/framework/physical/flat_graph.py
  mithril/framework/physical/model.py
  mithril/models/models.py
  mithril/models/primitives.py
  mithril/models/train_model.py
  mithril/utils/dict_conversions.py
  mithril/utils/utils.py
  tests/scripts/helper.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_constr_counter.py
  tests/scripts/test_constraints.py
  tests/scripts/test_data_store.py
  tests/scripts/test_differentiablity.py
  tests/scripts/test_extend_template.py
  tests/scripts/test_functions.py
  tests/scripts/test_inference.py
  tests/scripts/test_io_key.py
  tests/scripts/test_key_namings.py
  tests/scripts/test_key_values_in_init.py
  tests/scripts/test_primitive_calls.py
  tests/scripts/test_randomized_models_all_backends.py
  tests/scripts/test_scripts.py
  tests/scripts/test_set_outputs.py
  tests/scripts/test_set_types.py
  tests/scripts/test_shapes.py
  tests/scripts/test_train_context.py
  tests/scripts/test_type_coercion.py
  tests/scripts/test_type_consistencies.py
  tests/scripts/test_utils.py
  tests/utils.py
Labels: physical, logical, tests, common, backend, models, constraints, utils, codegen

#76 chore: Add MacOS to CI Testing
  .github/workflows/ci-test-macos.yaml
  .github/workflows/ci-test-ubuntu.yaml
  mithril/backends/backend.py
  tests/scripts/test_backend_fns.py
  tests/scripts/test_constant_inputs.py
Labels: tests, backend

#124 feat: Seed key for rand primitive
  mithril/backends/with_autograd/jax_backend/ops.py
  mithril/backends/with_autograd/mlx_backend/ops.py
  mithril/backends/with_autograd/torch_backend/ops.py
  mithril/backends/with_manualgrad/numpy_backend/ops.py
  mithril/framework/logical/primitive.py
  mithril/framework/physical/data_store.py
  mithril/framework/physical/flat_graph.py
  mithril/framework/physical/model.py
  mithril/models/primitives.py
  tests/scripts/test_all_models.py
  tests/scripts/test_pm.py
Labels: physical, logical, tests, backend, models

#128 refactor: Unify `PrimitiveSlice` and `Scalaritem`
  mithril/framework/common.py
  mithril/framework/constraints.py
  mithril/framework/logical/essential_primitives.py
  mithril/framework/logical/model.py
  mithril/framework/physical/model.py
  tests/scripts/summary_txts/test_traincontext_summary_resnet
  tests/scripts/test_all_models.py
  tests/scripts/test_constr_counter.py
  tests/scripts/test_constraints.py
  tests/scripts/test_data_store.py
  tests/scripts/test_extend_template.py
  tests/scripts/test_jittable.py
  tests/scripts/test_randomized_models_all_backends.py
  tests/scripts/test_shapes.py
  tests/scripts/test_type_coercion.py
Labels: physical, logical, tests, common, models, constraints

#130 refactor: Remove factory inputs
  mithril/backends/with_autograd/jax_backend/backend.py
  mithril/framework/common.py
  mithril/framework/logical/base.py
  mithril/framework/logical/essential_primitives.py
  mithril/framework/logical/model.py
  mithril/models/models.py
  mithril/models/primitives.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_key_values_in_init.py
  tests/scripts/test_recurrent_models.py
  tests/scripts/test_type_coercion.py
  tests/scripts/test_type_consistencies.py
Labels: logical, tests, common, backend, models
