Repository synnada-ai/mithril, pull requests merged in 2024-11, with the labels that each got.

#18 refactor: Refactor Tensors' temporary value storage logic
  mithril/framework/common.py
  mithril/framework/constraints.py
  mithril/framework/logical/base.py
  mithril/framework/logical/essential_primitives.py
  mithril/framework/logical/model.py
  mithril/framework/logical/primitive.py
  mithril/framework/physical/model.py
  mithril/models/primitives.py
  mithril/models/train_model.py
  mithril/utils/dict_conversions.py
  tests/json_files/error_test.json
  tests/json_files/integration_directed_test.json
  tests/json_files/models_directed_test.json
  tests/json_files/randomized_model_tests_all_backends.json
  tests/scripts/helper.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_freeze.py
  tests/scripts/test_primitive_calls.py
  tests/scripts/test_randomized_models_all_backends.py
  tests/scripts/test_scripts.py
  tests/scripts/test_shapes.py
  tests/scripts/test_summary.py
  tests/scripts/test_train_context.py
  tests/scripts/test_type_coercion.py
  tests/scripts/test_utils.py
Labels: physical, logical, tests, common, models, constraints, utils

#21 feat: Update `set_values`, `set_shapes` and `set_types` methods of `BaseModel`
  mithril/framework/logical/base.py
  mithril/utils/dict_conversions.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_set_shapes.py
  tests/scripts/test_set_types.py
  tests/scripts/test_set_values.py
Labels: logical, tests, utils

#26 fix: Fix ambiguous behavior of `extend` while adding a submodel
  mithril/framework/logical/model.py
  tests/scripts/test_codegen.py
  tests/scripts/test_scripts.py
  tests/scripts/test_summary.py
Labels: logical, tests

#34 feat: Split primitive usable like extend template
  mithril/backends/with_autograd/jax_backend/ops.py
  mithril/backends/with_autograd/mlx_backend/ops.py
  mithril/backends/with_autograd/torch_backend/ops.py
  mithril/backends/with_manualgrad/numpy_backend/ops.py
  mithril/framework/common.py
  mithril/framework/logical/essential_primitives.py
  mithril/framework/logical/model.py
  mithril/models/primitives.py
  tests/scripts/test_extend_template.py
Labels: logical, tests, common, backend, models

#16 fix: Add test to backends
  mithril/backends/backend.py
  mithril/backends/with_autograd/jax_backend/backend.py
  mithril/backends/with_autograd/mlx_backend/backend.py
  mithril/backends/with_autograd/torch_backend/backend.py
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  tests/scripts/test_backend.py
  tests/scripts/test_backend_fns.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_utils.py
Labels: tests, backend

#39 fix: Tensor slicing does not work with ellipsis
  mithril/framework/logical/model.py
  tests/scripts/test_extend_template.py
Labels: logical, tests

#32 fix: Fix reduce constraint bug
  mithril/framework/constraints.py
  tests/scripts/test_constraints.py
Labels: tests, constraints

#30 fix: Add pad constraint
  mithril/backends/with_autograd/jax_backend/ops.py
  mithril/backends/with_autograd/mlx_backend/ops.py
  mithril/backends/with_autograd/torch_backend/ops.py
  mithril/backends/with_manualgrad/numpy_backend/ops.py
  mithril/framework/constraints.py
  mithril/models/primitives.py
  tests/scripts/test_constraints.py
  tests/scripts/test_shapes.py
Labels: tests, backend, models, constraints

#40 feat: Name logical models
  mithril/framework/logical/base.py
  mithril/framework/logical/essential_primitives.py
  mithril/framework/logical/model.py
  mithril/framework/logical/primitive.py
  mithril/framework/physical/model.py
  mithril/framework/utils.py
  mithril/models/models.py
  mithril/models/primitives.py
  mithril/models/train_model.py
  tests/scripts/summary_txts/test_logical_model_summary_11
  tests/scripts/summary_txts/test_logical_model_summary_12
  tests/scripts/summary_txts/test_logical_model_summary_9
  tests/scripts/summary_txts/test_summary_of_nested_composite_model_with_names
  tests/scripts/test_logical_model_naming.py
  tests/scripts/test_scripts.py
  tests/scripts/test_summary.py
Labels: physical, logical, tests, models, framework-utils

#42 chore: Add some submodules of flux
  examples/flux/auto_encoder.py
  examples/flux/layers.py
Labels: examples

#46 fix: Fix bug in tensor item constraint
  mithril/framework/constraints.py
  tests/scripts/test_constraints.py
  tests/scripts/test_shapes.py
Labels: tests, constraints

#44 style: Fix type annotations in framework
  benchmarks/speed_benchmarks/benchmark.py
  mithril/__init__.py
  mithril/backends/backend.py
  mithril/backends/with_autograd/jax_backend/backend.py
  mithril/backends/with_autograd/mlx_backend/backend.py
  mithril/backends/with_autograd/torch_backend/backend.py
  mithril/backends/with_manualgrad/c_backend/backend.py
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  mithril/framework/codegen/__init__.py
  mithril/framework/codegen/c_ast.py
  mithril/framework/codegen/c_gen.py
  mithril/framework/codegen/code_gen.py
  mithril/framework/common.py
  mithril/framework/constraints.py
  mithril/framework/logical/base.py
  mithril/framework/logical/essential_primitives.py
  mithril/framework/logical/model.py
  mithril/framework/logical/primitive.py
  mithril/framework/physical/data_store.py
  mithril/framework/physical/flat_graph.py
  mithril/framework/physical/model.py
  mithril/framework/utils.py
  mithril/models/models.py
  mithril/models/primitives.py
  mithril/models/train_model.py
  mithril/utils/func_utils.py
  mithril/utils/type_utils.py
  mithril/utils/utils.py
  tests/scripts/test_compile_keys_consistencies.py
  tests/scripts/test_constraints.py
  tests/scripts/test_scripts.py
  tests/scripts/test_shapes.py
  tests/scripts/test_summary.py
  tests/scripts/test_type_consistencies.py
Labels: physical, logical, tests, common, backend, models, constraints, utils, framework-utils, codegen, benchmarks
