Repository synnada-ai/mithril, pull requests merged in 2025-04, with the labels that each got.

#229 feat: add static inference support for rawc and ggml backends
  mithril/backends/with_manualgrad/c_backend/backend.py
  mithril/backends/with_manualgrad/ggml_backend/backend.py
  mithril/cores/c/array.py
  mithril/cores/c/ggml/ops.py
  mithril/cores/c/ggml/utils.py
  mithril/cores/c/raw_c/ops.py
  mithril/cores/c/raw_c/utils.py
  mithril/framework/codegen/ggml_gen.py
  mithril/framework/common.py
  mithril/framework/physical/model.py
  tests/scripts/test_c_static_inference.py
Labels: physical, tests, common, backend, codegen, cores

#271 chore: Create automation for Projects.
  .github/workflows/add-to-project.yml
  .github/workflows/auto-move-issue-done.yml
  .github/workflows/auto-move-pr.yml
  .github/workflows/auto-move.yml
  examples/flux/clip.py
  examples/flux/t5.py
Labels: examples

#257 feat: Add primitives for mlp C backends
  .github/workflows/ci-test-example.yml
  mithril/backends/with_manualgrad/c_backend/backend.py
  mithril/backends/with_manualgrad/c_backend/utils.py
  mithril/backends/with_manualgrad/ggml_backend/utils.py
  mithril/cores/c/array.py
  mithril/cores/c/ggml/ops.c
  mithril/cores/c/ggml/ops.h
  mithril/cores/c/ggml/ops.py
  mithril/cores/c/ggml/utils.h
  mithril/cores/c/raw_c/array.py
  mithril/cores/c/raw_c/cbackend.h
  mithril/cores/c/raw_c/compile.sh
  mithril/cores/c/raw_c/definitions.py
  mithril/cores/c/raw_c/main.c
  mithril/cores/c/raw_c/ops.c
  mithril/cores/c/raw_c/ops.h
  mithril/cores/c/raw_c/utils.c
  mithril/cores/c/raw_c/utils.h
  mithril/framework/codegen/c_gen.py
  mithril/framework/codegen/ggml_gen.py
  tests/scripts/c_tests.c
  tests/scripts/test_c_raw.py
  tests/scripts/test_primitives_c.py
  tests/scripts/test_pyarray_arithmetic.py
Labels: tests, backend, codegen, cores

#346 feat: Add Sharding Dimension Support to Parallel API
  .github/workflows/ci-test-macos.yaml
  .github/workflows/ci-test-ubuntu.yaml
  mithril/backends/with_autograd/torch_backend/parallel.py
  mithril/backends/with_autograd/torch_backend/utils.py
  tests/scripts/test_parallel.py
Labels: tests, backend

#329 fix: Update ` set_value_recursively` to handle partial values
  .gitignore
  .gitmodules
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  mithril/cores/python/numpy/ops.py
  mithril/framework/common.py
  mithril/framework/logical/base.py
  tests/scripts/test_hyperedge.py
  tests/scripts/test_ref_counts.py
  tests/scripts/test_scripts.py
  tests/scripts/test_set_values.py
  tests/scripts/test_type_consistencies.py
Labels: logical, tests, common, backend, cores

#277 perf: Performance of model compilation improved, total object size is decreased.
  mithril/cores/c/ggml/libmithrilggml.dylib
  mithril/framework/common.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/physical/flat_graph.py
  mithril/utils/dict_conversions.py
  tests/scripts/test_ref_counts.py
  tests/scripts/test_scripts.py
Labels: physical, logical, tests, common, utils, cores

#351 feat: Add support for injecting additional operations more generally into FlatGraph
  mithril/framework/physical/flat_graph.py
  tests/scripts/test_flat_graph.py
Labels: physical, tests
