Repository synnada-ai/mithril, pull requests merged in 2025-05, with the labels that each got.

#361 feat!: Add Model `__call__` Method and Add Functional API
  examples/gpt/functional_model.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/logical/operator.py
  mithril/framework/logical/primitive.py
  mithril/framework/physical/model.py
  mithril/models/train_model.py
  test_examples/test_flux.py
  test_examples/test_gpt.py
  tests/scripts/test_immediate_extend.py
Labels: physical, logical, tests, examples

#370 refactor: Add jit Control Algorithm to Compile
  examples/flux/auto_encoder.py
  mithril/__init__.py
  mithril/backends/backend.py
  mithril/backends/with_autograd/jax_backend/backend.py
  mithril/backends/with_autograd/jax_backend/utils.py
  mithril/backends/with_autograd/mlx_backend/backend.py
  mithril/backends/with_autograd/mlx_backend/utils.py
  mithril/backends/with_autograd/torch_backend/backend.py
  mithril/backends/with_autograd/torch_backend/utils.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/logical/primitive.py
  mithril/framework/physical/flat_graph.py
  mithril/framework/physical/model.py
  mithril/models/primitives.py
  tests/scripts/summary_txts/test_physical_summary_11
  tests/scripts/summary_txts/test_physical_summary_14
  tests/scripts/summary_txts/test_physical_summary_15
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_data_store.py
  tests/scripts/test_extend_template.py
  tests/scripts/test_flat_graph.py
  tests/scripts/test_inference.py
  tests/scripts/test_io_key.py
  tests/scripts/test_jittable.py
  tests/scripts/test_scripts.py
  tests/scripts/test_summary.py
  tests/scripts/test_tuple_list_args_in_extend.py
  tests/scripts/test_type_coercion.py
Labels: physical, logical, tests, backend, examples, primitives

#379 fix: Minor Errors in Parallel Backends
  mithril/backends/backend.py
  mithril/backends/parallel.py
  mithril/backends/with_autograd/jax_backend/backend.py
  mithril/backends/with_autograd/jax_backend/parallel.py
  mithril/backends/with_autograd/torch_backend/backend.py
  mithril/backends/with_autograd/torch_backend/parallel.py
  mithril/framework/codegen/py_style_codegen/python_gen.py
  mithril/framework/physical/model.py
  tests/scripts/test_parallel.py
Labels: physical, tests, backend, codegen

#386 chore: Implement segformer
  examples/segformer/segformer_decode_head.py
  examples/segformer/segformer_encoder.py
  examples/segformer/segformer_semantic_segmentation.py
  mithril/cores/python/jax/ops.py
  mithril/cores/python/mlx/ops.py
  mithril/cores/python/numpy/ops.py
  mithril/cores/python/torch/ops.py
  mithril/framework/constraints.py
  mithril/framework/logical/model.py
  mithril/framework/logical/operators.py
  mithril/framework/physical/flat_graph.py
  mithril/models/models.py
  mithril/models/primitives.py
  mithril/models/train_model.py
  test_examples/test_segformer.py
  tests/scripts/summary_txts/test_logical_model_summary_2
  tests/scripts/summary_txts/test_resnet18_summary
  tests/scripts/summary_txts/test_resnet_18_physical_summary
  tests/scripts/summary_txts/test_traincontext_summary_resnet
  tests/scripts/test_all_models.py
  tests/scripts/test_data_store.py
  tests/scripts/test_immediate_extend.py
  tests/scripts/test_shapes.py
  tests/scripts/test_summary.py
Labels: physical, logical, tests, constraints, examples, cores, primitives, operators

#376 chore: Optimize PM Compile
  MANIFEST.in
  mithril/cores/python/jax/ops.py
  mithril/framework/physical/flat_graph.py
  mithril/framework/physical/model.py
  mithril/models/models.py
  test_examples/test_api_examples.py
  tests/json_files/static_keys_directed_test.json
  tests/scripts/summary_txts/test_physical_model_summary_6
  tests/scripts/summary_txts/test_physical_model_summary_7
  tests/scripts/summary_txts/test_physical_summary_3
  tests/scripts/summary_txts/test_physical_summary_4
  tests/scripts/test_all_models.py
  tests/scripts/test_codegen.py
  tests/scripts/test_data_store.py
  tests/scripts/test_differentiablity.py
  tests/scripts/test_flatmodel.py
  tests/scripts/test_functions.py
  tests/scripts/test_inference.py
  tests/scripts/test_scripts.py
  tests/scripts/test_summary.py
Labels: physical, tests, cores

#389 fix: Update differentiable of Tensor in set_type
  mithril/framework/common.py
  setup.py
  tests/scripts/test_differentiable.py
Labels: tests, common

#388 feat: Model compilation logic updated to allow both `jit=True` and `file_path`
  mithril/__init__.py
  tests/scripts/test_jittable.py
Labels: tests
