Repository synnada-ai/mithril, pull requests merged in 2025-03, with the labels that each got.

#214 feat: Add AvgPool2D model
  mithril/cores/python/jax/ops.py
  mithril/cores/python/mlx/ops.py
  mithril/cores/python/mlx/utils.py
  mithril/cores/python/numpy/ops.py
  mithril/cores/python/numpy/ops_grad.py
  mithril/cores/python/numpy/utils.py
  mithril/cores/python/torch/ops.py
  mithril/framework/constraints.py
  mithril/models/models.py
  mithril/models/primitives.py
  tests/json_files/models_directed_test.json
  tests/json_files/randomized_model_tests_all_backends.json
  tests/scripts/test_all_models.py
  tests/scripts/test_constraints.py
Labels: tests, models, constraints

#220 refactor: Update handling of assigned attributes.
  examples/flux/t5.py
  examples/flux/util.py
  mithril/cores/python/numpy/ops.py
  mithril/framework/common.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/logical/operator.py
  mithril/framework/logical/operators.py
  mithril/framework/logical/primitive.py
  mithril/models/models.py
  mithril/models/primitives.py
  mithril/utils/dict_conversions.py
  tests/json_files/integration_directed_test.json
  tests/json_files/models_directed_test.json
  tests/json_files/no_grad_inference_test.json
  tests/json_files/randomized_model_tests_all_backends.json
  tests/scripts/helper.py
  tests/scripts/summary_txts/test_physical_summary_17
  tests/scripts/summary_txts/test_physical_summary_3_logical_with_depth
  tests/scripts/test_all_models.py
  tests/scripts/test_differentiablity.py
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_scripts.py
Labels: logical, tests, common, models, utils, examples

#225 refactor: Refactor FlatGraph
  mithril/framework/physical/flat_graph.py
  mithril/framework/physical/model.py
  tests/scripts/test_flat_graph.py
  tests/scripts/test_functions.py
  tests/scripts/test_io_key.py
  tests/scripts/test_scripts.py
  tests/scripts/test_utils.py
Labels: physical, tests

#227 feat: Add ones primitive
  mithril/cores/python/jax/ops.py
  mithril/cores/python/mlx/ops.py
  mithril/cores/python/numpy/ops.py
  mithril/cores/python/torch/ops.py
  mithril/models/primitives.py
  tests/json_files/randomized_model_tests_all_backends.json
  tests/scripts/test_all_models.py
Labels: tests, models

#230 feat: Support all types in JSON format
  mithril/framework/logical/operators.py
  mithril/models/primitives.py
  mithril/utils/dict_conversions.py
  tests/json_files/integration_directed_test.json
  tests/json_files/models_directed_test.json
  tests/json_files/no_grad_inference_test.json
  tests/json_files/randomized_model_tests_all_backends.json
  tests/json_files/static_keys_directed_test.json
  tests/scripts/test_dict_conversion_funcs.py
  tests/scripts/test_model_to_dict_rtt.py
Labels: tests, models, utils

#215 chore: add CLIP model to Mithril
  .github/workflows/ci-test-example.yml
  .gitignore
  examples/clip/CLIP.png
  examples/clip/assets/Cat.jpeg
  examples/clip/assets/Dog.jpeg
  examples/clip/model.py
  examples/clip/model_mlx.py
  examples/flux/t5.py
  mithril/framework/constraints.py
  mithril/framework/logical/operators.py
  mypy.ini
  test_examples/clip_torch.py
  test_examples/resnet_torch.py
  test_examples/test_clip.py
  test_examples/test_clip_mlx.py
Labels: constraints, examples

#238 feat: Add RandInt Primitive Model
  mithril/cores/python/jax/ops.py
  mithril/cores/python/mlx/ops.py
  mithril/cores/python/numpy/ops.py
  mithril/cores/python/torch/ops.py
  mithril/models/primitives.py
  tests/scripts/test_all_models.py
Labels: tests, models

#234 refactor: Remove `ignore_grad_keys`attribute from `PhysicalModel`
  mithril/framework/codegen/c_gen.py
  mithril/framework/codegen/code_gen.py
  mithril/framework/codegen/numpy_gen.py
  mithril/framework/codegen/python_gen.py
  mithril/framework/codegen/raw_c_gen.py
  mithril/framework/physical/model.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_functions.py
  tests/scripts/test_randomized_models_all_backends.py
  tests/scripts/test_scripts.py
  tests/scripts/test_train_context.py
Labels: physical, tests, codegen

#222 refactor: Update types of all models
  examples/flux/model.py
  mithril/cores/python/common_primitives.py
  mithril/cores/python/jax/ops.py
  mithril/cores/python/mlx/ops.py
  mithril/cores/python/numpy/ops.py
  mithril/cores/python/numpy/ops_grad.py
  mithril/cores/python/torch/ops.py
  mithril/framework/constraints.py
  mithril/framework/logical/model.py
  mithril/framework/logical/operators.py
  mithril/framework/physical/data_store.py
  mithril/framework/physical/model.py
  mithril/models/models.py
  mithril/models/primitives.py
  mithril/models/train_model.py
  tests/json_files/integration_directed_test.json
  tests/json_files/models_directed_test.json
  tests/json_files/primitives_directed_test.json
  tests/json_files/randomized_model_tests_all_backends.json
  tests/scripts/summary_txts/test_physical_summary_1
  tests/scripts/summary_txts/test_physical_summary_10
  tests/scripts/summary_txts/test_physical_summary_2
  tests/scripts/summary_txts/test_physical_summary_3_logical_with_depth
  tests/scripts/summary_txts/test_physical_summary_4
  tests/scripts/summary_txts/test_primitive_model_summary_7
  tests/scripts/summary_txts/test_primitive_model_summary_8
  tests/scripts/summary_txts/test_traincontext_summary
  tests/scripts/summary_txts/test_traincontext_summary_2
  tests/scripts/summary_txts/test_traincontext_summary_3
  tests/scripts/summary_txts/test_traincontext_summary_4
  tests/scripts/test_all_models.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_constr_counter.py
  tests/scripts/test_constraints.py
  tests/scripts/test_extend_template.py
  tests/scripts/test_functions.py
  tests/scripts/test_jittable.py
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_parallel.py
  tests/scripts/test_primitive_calls.py
  tests/scripts/test_primitive_directed.py
  tests/scripts/test_randomized_models_all_backends.py
  tests/scripts/test_scripts.py
  tests/scripts/test_shapes.py
  tests/scripts/test_summary.py
  tests/scripts/test_tuple_list_args_in_extend.py
  tests/scripts/test_type_coercion.py
  tests/scripts/test_type_consistencies.py
  tests/scripts/test_type_inference.py
Labels: physical, logical, tests, models, constraints, examples

#242 feat: Update `Concat` input arg type, update unroll criteria function
  mithril/backends/backend.py
  mithril/backends/with_autograd/jax_backend/backend.py
  mithril/backends/with_autograd/mlx_backend/backend.py
  mithril/backends/with_autograd/torch_backend/backend.py
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  mithril/common.py
  mithril/cores/python/common_primitives.py
  mithril/cores/python/jax/ops.py
  mithril/cores/python/mlx/ops.py
  mithril/cores/python/numpy/ops.py
  mithril/cores/python/numpy/ops_grad.py
  mithril/cores/python/numpy/utils.py
  mithril/cores/python/torch/ops.py
  mithril/framework/codegen/numpy_gen.py
  mithril/framework/constraints.py
  mithril/framework/logical/model.py
  mithril/framework/utils.py
  mithril/models/primitives.py
  mithril/utils/dict_conversions.py
  tests/scripts/test_all_models.py
  tests/scripts/test_type_consistencies.py
Labels: logical, tests, backend, models, constraints, utils, framework-utils, codegen

#244 feat: Add `Tensor[int]` support to `indexer`
  mithril/cores/python/torch/ops.py
  mithril/framework/common.py
  mithril/framework/constraints.py
  mithril/framework/logical/model.py
  mithril/framework/logical/operators.py
  mithril/utils/type_utils.py
  tests/scripts/test_constr_counter.py
  tests/scripts/test_constraints.py
  tests/scripts/test_shapes.py
Labels: logical, tests, common, constraints, utils

#248 refactor: Remove evaluate_gradients and evaluate_all
  README.md
  benchmarks/speed_benchmarks/speed_helper.py
  examples/model_api/cnn_forcast_sine_training.py
  examples/model_api/linear_regression_jax_training.py
  examples/model_api/many_to_one_any_backend_training.py
  examples/model_api/variable_length_many_to_one_lstm.py
  mithril/__init__.py
  mithril/framework/codegen/c_gen.py
  mithril/framework/codegen/code_gen.py
  mithril/framework/codegen/numpy_gen.py
  mithril/framework/codegen/python_gen.py
  mithril/framework/common.py
  mithril/framework/physical/model.py
  mithril/models/train_model.py
  test_examples/test_clip.py
  test_examples/test_clip_mlx.py
  test_examples/test_flux.py
  tests/scripts/helper.py
  tests/scripts/test_all_models.py
  tests/scripts/test_c_backend.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_jittable.py
  tests/scripts/test_parallel.py
  tests/scripts/test_randomized_models_all_backends.py
  tests/scripts/test_recurrent_models.py
  tests/scripts/test_scripts.py
  tests/scripts/test_set_values.py
  tests/scripts/test_state_keys.py
  tests/scripts/test_train_context.py
  tests/scripts/test_tuple_list_args_in_extend.py
  tests/scripts/test_type_coercion.py
  tests/utils.py
Labels: physical, tests, common, models, examples, codegen, benchmarks

#252 feat: Add set APIs to Connection
  mithril/framework/common.py
  mithril/framework/logical/base.py
  tests/scripts/test_differentiablity.py
  tests/scripts/test_set_outputs.py
  tests/scripts/test_set_shapes.py
  tests/scripts/test_set_types.py
  tests/scripts/test_set_values.py
Labels: logical, tests, common

#246 refactor: Remove Special Treatment to Seed Keys
  mithril/framework/common.py
  mithril/framework/constraints.py
  mithril/framework/logical/base.py
  mithril/framework/logical/operator.py
  mithril/framework/logical/operators.py
  mithril/framework/physical/data_store.py
  mithril/framework/physical/flat_graph.py
  mithril/framework/physical/model.py
  mithril/models/models.py
  mithril/models/primitives.py
  mithril/types.py
  mithril/utils/utils.py
  test_examples/test_clip.py
  test_examples/test_clip_mlx.py
  tests/scripts/test_all_models.py
  tests/scripts/test_flat_graph.py
  tests/scripts/test_functions.py
  tests/scripts/test_pm.py
  tests/scripts/test_state_keys.py
Labels: physical, logical, tests, common, models, constraints, utils

#240 chore: Merge Clip into FLUX
  examples/clip/__init__.py
  examples/clip/model_mlx.py
  examples/flux/clip.py
  examples/flux/layers.py
  examples/flux/main.py
  examples/flux/model.py
  examples/flux/sampling.py
  examples/flux/t5.py
  examples/flux/util.py
  mithril/framework/constraints.py
  mithril/models/primitives.py
  test_examples/test_flux.py
Labels: models, constraints, examples

#261 refactor: Refactor C AST to Use Visitor Pattern for Better Extensibility
  mithril/framework/codegen/c_ast.py
  mithril/framework/codegen/c_gen.py
  tests/scripts/test_c_backend.py
Labels: tests, codegen

#255 feat: Add broadcast support ggml
  mithril/backends/with_manualgrad/ggml_backend/backend.py
  mithril/backends/with_manualgrad/ggml_backend/utils.py
  mithril/common.py
  mithril/cores/c/ggml/ops.c
  mithril/cores/c/ggml/ops.h
  mithril/framework/codegen/c_gen.py
  mithril/framework/codegen/ggml_gen.py
  mithril/framework/codegen/numpy_gen.py
  mithril/framework/codegen/python_gen.py
  mithril/framework/physical/data_store.py
  mithril/framework/physical/flat_graph.py
  mithril/framework/physical/model.py
  tests/scripts/test_c_backend.py
  tests/scripts/test_flat_graph.py
  tests/scripts/test_functions.py
Labels: physical, tests, backend, codegen

#264 fix: GGML evaluate_gradient Raises Error
  .github/workflows/ci-test-macos.yaml
  mithril/framework/codegen/ggml_gen.py
Labels: codegen
