Repository synnada-ai/mithril, pull requests merged in 2025-01, with the labels that each got.

#135 chore: remove `Jacobian` codes from codebase
  mithril/__init__.py
  mithril/framework/physical/model.py
  tests/scripts/test_compile_keys_consistencies.py
  tests/scripts/test_data_store.py
  tests/scripts/test_inference.py
  tests/scripts/test_pm.py
Labels: physical, tests

#138 chore: Linted `Physical` folder
  benchmarks/speed_benchmarks/jax_fns.py
  examples/model_api/linear_regression_jax_training.py
  examples/model_api/variable_length_many_to_one_lstm.py
  mithril/backends/backend.py
  mithril/backends/parallel.py
  mithril/backends/with_autograd/common_primitives.py
  mithril/backends/with_autograd/jax_backend/backend.py
  mithril/backends/with_autograd/jax_backend/ops.py
  mithril/backends/with_autograd/jax_backend/parallel.py
  mithril/backends/with_autograd/jax_backend/utils.py
  mithril/backends/with_autograd/mlx_backend/backend.py
  mithril/backends/with_manualgrad/c_backend/backend.py
  mithril/backends/with_manualgrad/c_backend/src/array.pyi
  mithril/backends/with_manualgrad/numpy_backend/ops.py
  mithril/backends/with_manualgrad/numpy_backend/ops_grad.py
  mithril/backends/with_manualgrad/numpy_backend/utils.py
  mithril/framework/codegen/c_gen.py
  mithril/framework/codegen/python_gen.py
  mithril/framework/codegen/torch_gen.py
  mithril/framework/common.py
  mithril/framework/constraints.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/logical/primitive.py
  mithril/framework/physical/data_store.py
  mithril/framework/physical/flat_graph.py
  mithril/framework/physical/model.py
  mithril/framework/utils.py
  mithril/models/models.py
  mithril/models/primitives.py
  mithril/models/train_model.py
  mithril/utils/dict_conversions.py
  mypy.ini
  releases/generate_changelog.py
  tests/scripts/test_constraints.py
  tests/scripts/test_data_store.py
  tests/scripts/test_flatmodel.py
  tests/scripts/test_pm.py
  tests/utils.py
Labels: physical, logical, tests, common, backend, models, constraints, utils, framework-utils, examples, codegen, benchmarks

#142 chore: Make name parameter kwarg
  mithril/framework/logical/essential_primitives.py
  mithril/framework/logical/model.py
  mithril/framework/logical/primitive.py
  mithril/models/models.py
  mithril/models/primitives.py
Labels: logical, models

#136 feat: Add bfloat16 support
  README.md
  benchmarks/speed_benchmarks/benchmark.py
  benchmarks/speed_benchmarks/jax_fns.py
  benchmarks/speed_benchmarks/torch_fns.py
  examples/gpt/run_sample.py
  examples/model_api/cnn_forcast_sine_training.py
  examples/model_api/convolution_with_svm.py
  examples/model_api/many_to_one_any_backend_training.py
  examples/model_api/variable_length_many_to_one_lstm.py
  mithril/__init__.py
  mithril/backends/backend.py
  mithril/backends/utils.py
  mithril/backends/with_autograd/jax_backend/backend.py
  mithril/backends/with_autograd/jax_backend/utils.py
  mithril/backends/with_autograd/mlx_backend/backend.py
  mithril/backends/with_autograd/mlx_backend/utils.py
  mithril/backends/with_autograd/torch_backend/backend.py
  mithril/backends/with_autograd/torch_backend/utils.py
  mithril/backends/with_manualgrad/c_backend/backend.py
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  mithril/backends/with_manualgrad/numpy_backend/utils.py
  mithril/core.py
  mithril/framework/codegen/numpy_gen.py
  tests/scripts/test_all_models.py
  tests/scripts/test_backend_fns.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_data_store.py
  tests/scripts/test_errors.py
  tests/scripts/test_extend_template.py
  tests/scripts/test_flatmodel.py
  tests/scripts/test_functions.py
  tests/scripts/test_inference.py
  tests/scripts/test_jittable.py
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_models.py
  tests/scripts/test_primitive_directed.py
  tests/scripts/test_randomized_models_all_backends.py
  tests/scripts/test_scripts.py
  tests/scripts/test_set_outputs.py
  tests/scripts/test_set_values.py
  tests/scripts/test_shapes.py
  tests/scripts/test_train_context.py
  tests/scripts/test_type_coercion.py
  tests/scripts/test_utils.py
Labels: tests, backend, examples, codegen, benchmarks

#153 feat: Add support for minimum and maximum primitives
  mithril/backends/with_autograd/jax_backend/ops.py
  mithril/backends/with_autograd/mlx_backend/ops.py
  mithril/backends/with_autograd/torch_backend/ops.py
  mithril/backends/with_manualgrad/numpy_backend/ops.py
  mithril/framework/logical/essential_primitives.py
  tests/scripts/test_all_models.py
Labels: tests, backend, models

#151 feat: Add extend template support for 'cast', 'dtype', 'sin', and 'cos' primitives
  mithril/framework/common.py
  mithril/framework/logical/essential_primitives.py
  mithril/framework/logical/model.py
  mithril/models/models.py
  mithril/models/primitives.py
  tests/scripts/test_all_models.py
  tests/scripts/test_extend_template.py
Labels: logical, tests, common, models

#150 feat: Add clip function for backends
  mithril/backends/backend.py
  mithril/backends/utils.py
  mithril/backends/with_autograd/jax_backend/backend.py
  mithril/backends/with_autograd/mlx_backend/backend.py
  mithril/backends/with_autograd/torch_backend/backend.py
  mithril/backends/with_autograd/torch_backend/utils.py
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  tests/scripts/test_backend_fns.py
Labels: tests, backend

#132 fix: Backend rand functions
  mithril/backends/backend.py
  mithril/backends/with_autograd/jax_backend/backend.py
  mithril/backends/with_autograd/mlx_backend/backend.py
  mithril/backends/with_autograd/torch_backend/backend.py
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  tests/json_files/randomized_model_tests_all_backends.json
  tests/scripts/test_all_models.py
  tests/scripts/test_randomized_models_all_backends.py
  tests/scripts/test_scripts.py
Labels: tests, backend

#163 feat: cache static values inline
  mithril/framework/codegen/numpy_gen.py
  mithril/framework/codegen/python_gen.py
  tests/scripts/test_codegen.py
  tests/scripts/test_functions.py
Labels: tests, codegen

#165 feat: Add dtype Parameter to Array Creation Primitives
  mithril/backends/backend.py
  mithril/backends/with_autograd/jax_backend/backend.py
  mithril/backends/with_autograd/jax_backend/ops.py
  mithril/backends/with_autograd/jax_backend/utils.py
  mithril/backends/with_autograd/mlx_backend/backend.py
  mithril/backends/with_autograd/mlx_backend/ops.py
  mithril/backends/with_autograd/mlx_backend/utils.py
  mithril/backends/with_autograd/torch_backend/backend.py
  mithril/backends/with_autograd/torch_backend/ops.py
  mithril/backends/with_autograd/torch_backend/utils.py
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  mithril/backends/with_manualgrad/numpy_backend/ops.py
  mithril/backends/with_manualgrad/numpy_backend/utils.py
  mithril/framework/codegen/numpy_gen.py
  mithril/framework/codegen/python_gen.py
  mithril/framework/codegen/utils.py
  mithril/framework/common.py
  mithril/framework/logical/essential_primitives.py
  mithril/framework/physical/data_store.py
  mithril/models/primitives.py
  mithril/utils/func_utils.py
  tests/scripts/summary_txts/test_primitive_model_summary_3
  tests/scripts/summary_txts/test_summary_nontensor_models
  tests/scripts/test_all_models.py
  tests/scripts/test_codegen.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_data_store.py
  tests/scripts/test_scripts.py
  tests/scripts/test_summary.py
Labels: physical, tests, common, backend, models, utils, codegen

#161 chore: Optimize Memory by Deallocating Unused Tensors
  mithril/framework/codegen/python_gen.py
  tests/scripts/test_codegen.py
  tests/scripts/test_functions.py
Labels: tests, codegen

#164 feat!: Update canonical logic
  benchmarks/speed_benchmarks/jax_fns.py
  benchmarks/speed_benchmarks/speed_helper.py
  benchmarks/speed_benchmarks/torch_fns.py
  examples/flux/layers.py
  examples/gpt/model.py
  examples/model_api/cnn_forcast_sine_training.py
  examples/model_api/convolution_with_svm.py
  examples/model_api/resnet_logical_models.py
  mithril/framework/common.py
  mithril/framework/logical/base.py
  mithril/framework/logical/essential_primitives.py
  mithril/framework/logical/model.py
  mithril/framework/logical/primitive.py
  mithril/framework/physical/model.py
  mithril/models/models.py
  mithril/models/primitives.py
  mithril/models/train_model.py
  mithril/utils/dict_conversions.py
  tests/json_files/error_test.json
  tests/scripts/helper.py
  tests/scripts/resnet_model.py
  tests/scripts/test_all_models.py
  tests/scripts/test_backend_fns.py
  tests/scripts/test_canonicality.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_differentiablity.py
  tests/scripts/test_extend_template.py
  tests/scripts/test_io_key.py
  tests/scripts/test_key_namings.py
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_recurrent_models.py
  tests/scripts/test_scripts.py
  tests/scripts/test_shapes.py
  tests/scripts/test_summary.py
  tests/scripts/test_type_coercion.py
  tests/scripts/test_utils.py
Labels: physical, logical, tests, common, models, utils, examples, benchmarks

#167 feat: Range type support
  examples/gpt/run_sample.py
  mithril/framework/common.py
  mithril/framework/constraints.py
  mithril/framework/utils.py
  tests/scripts/test_constraints.py
  tests/scripts/test_process_sequence.py
  tests/scripts/test_type_consistencies.py
Labels: tests, common, constraints, framework-utils, examples

#148 chore: added whisper implementation
  .github/workflows/ci-test-example.yml
  examples/whisper/1040-133433-0001.flac
  examples/whisper/run_whisper.py
  examples/whisper/whisper_model.py
  mithril/backends/with_autograd/jax_backend/backend.py
  mithril/backends/with_autograd/mlx_backend/backend.py
  mithril/backends/with_autograd/torch_backend/backend.py
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  test_examples/test_whisper.py
  tests/scripts/test_backend_fns.py
Labels: tests, backend, examples

#170 feat: Generalize edge type polymorphism.
  mithril/framework/codegen/numpy_gen.py
  mithril/framework/codegen/python_gen.py
  mithril/framework/common.py
  mithril/framework/constraints.py
  mithril/framework/logical/base.py
  mithril/framework/logical/essential_primitives.py
  mithril/framework/logical/model.py
  mithril/framework/logical/primitive.py
  mithril/framework/physical/data_store.py
  mithril/framework/physical/model.py
  mithril/framework/utils.py
  mithril/models/models.py
  mithril/models/primitives.py
  mithril/models/train_model.py
  mithril/utils/dict_conversions.py
  mithril/utils/func_utils.py
  tests/scripts/helper.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_constr_counter.py
  tests/scripts/test_constraints.py
  tests/scripts/test_hyperedge.py
  tests/scripts/test_io_key.py
  tests/scripts/test_process_sequence.py
  tests/scripts/test_randomized_models_all_backends.py
  tests/scripts/test_ref_counts.py
  tests/scripts/test_scripts.py
  tests/scripts/test_shapes.py
  tests/scripts/test_type_coercion.py
  tests/scripts/test_type_consistencies.py
  tests/scripts/test_utils.py
Labels: physical, logical, tests, common, models, constraints, utils, framework-utils, codegen

#172 feat: implement graph-like dependency API for constraints
  mithril/framework/common.py
  mithril/framework/constraints.py
  mithril/framework/logical/base.py
  mithril/framework/logical/essential_primitives.py
  mithril/models/models.py
  mithril/models/primitives.py
  mithril/utils/dict_conversions.py
  tests/scripts/test_constr_counter.py
  tests/scripts/test_constraint_graph.py
  tests/scripts/test_constraints.py
  tests/scripts/test_functions.py
  tests/scripts/test_jittable.py
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_scripts.py
  tests/scripts/test_shapes.py
  tests/scripts/test_type_coercion.py
Labels: logical, tests, common, models, constraints, utils
