Repository synnada-ai/mithril, pull requests merged in 2025-02, with the labels that each got.

#176 chore: Add VALUE type to constraints
  mithril/framework/common.py
  mithril/framework/constraints.py
  mithril/framework/logical/base.py
  mithril/framework/physical/data_store.py
  mithril/framework/physical/model.py
  tests/scripts/test_backend_fns.py
  tests/scripts/test_constraint_graph.py
  tests/scripts/test_constraints.py
  tests/scripts/test_data_store.py
  tests/scripts/test_hyperedge.py
  tests/scripts/test_shapes.py
Labels: physical, logical, tests, common, constraints

#177 fix: prevent zero-probability events from being sampled in multinomial function in Jax-backend
  mithril/backends/with_autograd/jax_backend/backend.py
  tests/scripts/test_backend_fns.py
Labels: tests, backend

#179 feat: Implement forward non-tensor inference constraints for polymorphic essential models
  mithril/framework/codegen/python_gen.py
  mithril/framework/common.py
  mithril/framework/constraints.py
  mithril/framework/logical/essential_primitives.py
  mithril/utils/dict_conversions.py
  tests/scripts/test_constr_counter.py
  tests/scripts/test_constraints.py
  tests/scripts/test_scalar_inference.py
Labels: tests, common, models, constraints, utils, codegen

#181 chore: Flat graph data store communication
  mithril/framework/codegen/c_gen.py
  mithril/framework/codegen/numpy_gen.py
  mithril/framework/codegen/python_gen.py
  mithril/framework/physical/data_store.py
  mithril/framework/physical/flat_graph.py
  mithril/framework/physical/model.py
  tests/json_files/static_keys_directed_test.json
  tests/scripts/helper.py
  tests/scripts/summary_txts/test_physical_summary_10
  tests/scripts/summary_txts/test_physical_summary_11
  tests/scripts/summary_txts/test_physical_summary_14
  tests/scripts/summary_txts/test_physical_summary_15
  tests/scripts/summary_txts/test_physical_summary_16
  tests/scripts/test_all_models.py
  tests/scripts/test_compile_keys_consistencies.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_data_store.py
  tests/scripts/test_differentiablity.py
  tests/scripts/test_flat_graph.py
  tests/scripts/test_inference.py
  tests/scripts/test_randomized_models_all_backends.py
  tests/scripts/test_scripts.py
  tests/scripts/test_shapes.py
  tests/scripts/test_summary.py
  tests/scripts/test_train_context.py
  tests/utils.py
Labels: physical, tests, codegen

#174 feat!: Update Model Architecture with User-interacting Logic
  benchmarks/speed_benchmarks/speed_helper.py
  mithril/__init__.py
  mithril/framework/codegen/numpy_gen.py
  mithril/framework/codegen/python_gen.py
  mithril/framework/codegen/torch_gen.py
  mithril/framework/common.py
  mithril/framework/logical/__init__.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/logical/operator.py
  mithril/framework/logical/operators.py
  mithril/framework/logical/primitive.py
  mithril/framework/physical/data_store.py
  mithril/framework/physical/flat_graph.py
  mithril/framework/physical/model.py
  mithril/framework/utils.py
  mithril/models/models.py
  mithril/models/primitives.py
  mithril/models/train_model.py
  mithril/utils/dict_conversions.py
  tests/scripts/helper.py
  tests/scripts/test_all_models.py
  tests/scripts/test_c_backend.py
  tests/scripts/test_canonicality.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_constr_counter.py
  tests/scripts/test_constraint_graph.py
  tests/scripts/test_data_store.py
  tests/scripts/test_differentiablity.py
  tests/scripts/test_flat_graph.py
  tests/scripts/test_flatmodel.py
  tests/scripts/test_functions.py
  tests/scripts/test_io_key.py
  tests/scripts/test_key_namings.py
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_parallel.py
  tests/scripts/test_randomized_models_all_backends.py
  tests/scripts/test_recurrent_models.py
  tests/scripts/test_ref_counts.py
  tests/scripts/test_scalar_inference.py
  tests/scripts/test_scripts.py
  tests/scripts/test_set_outputs.py
  tests/scripts/test_set_shapes.py
  tests/scripts/test_shapes.py
  tests/scripts/test_summary.py
  tests/scripts/test_tuple_list_args_in_extend.py
  tests/scripts/test_type_coercion.py
  tests/scripts/test_type_consistencies.py
  tests/scripts/test_utils.py
  tests/utils.py
Labels: physical, logical, tests, common, models, utils, framework-utils, codegen, benchmarks

#185 refactor: Refactor Differentiability
  examples/gpt/model.py
  mithril/framework/common.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/logical/operator.py
  mithril/framework/logical/operators.py
  mithril/framework/logical/primitive.py
  mithril/framework/physical/model.py
  mithril/models/models.py
  mithril/models/primitives.py
  mithril/models/train_model.py
  mithril/utils/dict_conversions.py
  tests/json_files/randomized_model_tests_all_backends.json
  tests/json_files/static_keys_directed_test.json
  tests/scripts/helper.py
  tests/scripts/summary_txts/test_physical_model_summary_5
  tests/scripts/summary_txts/test_physical_model_summary_6
  tests/scripts/summary_txts/test_physical_model_summary_7
  tests/scripts/summary_txts/test_physical_model_summary_8
  tests/scripts/summary_txts/test_physical_model_summary_9
  tests/scripts/summary_txts/test_physical_summary_10
  tests/scripts/summary_txts/test_physical_summary_11
  tests/scripts/summary_txts/test_physical_summary_12
  tests/scripts/summary_txts/test_physical_summary_14
  tests/scripts/summary_txts/test_physical_summary_16
  tests/scripts/summary_txts/test_physical_summary_17
  tests/scripts/summary_txts/test_physical_summary_3
  tests/scripts/summary_txts/test_physical_summary_3_logical_with_depth
  tests/scripts/summary_txts/test_primitive_model_summary_4
  tests/scripts/summary_txts/test_primitive_model_summary_5
  tests/scripts/summary_txts/test_primitive_model_summary_8
  tests/scripts/summary_txts/test_traincontext_summary_3
  tests/scripts/summary_txts/test_traincontext_summary_4
  tests/scripts/test_all_models.py
  tests/scripts/test_c_backend.py
  tests/scripts/test_canonicality.py
  tests/scripts/test_codegen.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_data_store.py
  tests/scripts/test_differentiablity.py
  tests/scripts/test_extend_template.py
  tests/scripts/test_flat_graph.py
  tests/scripts/test_flatmodel.py
  tests/scripts/test_functions.py
  tests/scripts/test_io_key.py
  tests/scripts/test_jittable.py
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_primitive_calls.py
  tests/scripts/test_randomized_models_all_backends.py
  tests/scripts/test_recurrent_models.py
  tests/scripts/test_scripts.py
  tests/scripts/test_set_values.py
  tests/scripts/test_summary.py
  tests/scripts/test_train_context.py
  tests/scripts/test_tuple_list_args_in_extend.py
  tests/scripts/test_type_coercion.py
Labels: physical, logical, tests, common, models, utils, examples

#189 chore: Restrict extend with iadd and Update models canonical inputs
  README.md
  examples/gpt/model.py
  examples/model_api/cnn_forcast_sine_training.py
  examples/model_api/convolution_with_svm.py
  examples/model_api/resnet_logical_models.py
  examples/whisper/whisper_model.py
  mithril/framework/logical/model.py
  mithril/framework/logical/operators.py
  mithril/models/models.py
  mithril/models/primitives.py
  mithril/models/train_model.py
  tests/scripts/resnet_model.py
  tests/scripts/test_c_backend.py
  tests/scripts/test_canonicality.py
  tests/scripts/test_compile_keys_consistencies.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_constr_counter.py
  tests/scripts/test_data_store.py
  tests/scripts/test_differentiablity.py
  tests/scripts/test_errors.py
  tests/scripts/test_extend_template.py
  tests/scripts/test_flat_graph.py
  tests/scripts/test_flatmodel.py
  tests/scripts/test_freeze.py
  tests/scripts/test_functions.py
  tests/scripts/test_io_key.py
  tests/scripts/test_jittable.py
  tests/scripts/test_key_namings.py
  tests/scripts/test_metrics.py
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_parallel.py
  tests/scripts/test_pm.py
  tests/scripts/test_recurrent_models.py
  tests/scripts/test_ref_counts.py
  tests/scripts/test_scalar_inference.py
  tests/scripts/test_scripts.py
  tests/scripts/test_set_outputs.py
  tests/scripts/test_set_shapes.py
  tests/scripts/test_set_types.py
  tests/scripts/test_set_values.py
  tests/scripts/test_shapes.py
  tests/scripts/test_summary.py
  tests/scripts/test_train_context.py
  tests/scripts/test_type_coercion.py
  tests/scripts/test_type_consistencies.py
Labels: logical, tests, models, examples

#169 chore: Add T5 model
  examples/t5.py
  mithril/__init__.py
  mithril/backends/backend.py
  mithril/backends/with_autograd/jax_backend/backend.py
  mithril/backends/with_autograd/mlx_backend/backend.py
  mithril/backends/with_autograd/torch_backend/backend.py
  mithril/backends/with_manualgrad/numpy_backend/backend.py
  mithril/cores/python/jax/ops.py
  mithril/cores/python/mlx/ops.py
  mithril/cores/python/numpy/ops.py
  mithril/cores/python/numpy/ops_grad.py
  mithril/cores/python/torch/ops.py
  mithril/framework/codegen/python_gen.py
  mithril/framework/logical/model.py
  mithril/framework/physical/flat_graph.py
  test_examples/test_t5.py
  tests/scripts/test_all_models.py
  tests/scripts/test_backend_fns.py
Labels: physical, logical, tests, backend, examples, codegen

#193 chore: Inherit `Connection` from `ConnectionData`
  benchmarks/speed_benchmarks/speed_helper.py
  examples/model_api/cnn_forcast_sine_training.py
  mithril/cores/python/numpy/ops.py
  mithril/framework/common.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/logical/operator.py
  mithril/framework/logical/operators.py
  mithril/framework/physical/model.py
  mithril/models/models.py
  mithril/models/train_model.py
  mithril/utils/dict_conversions.py
  tests/scripts/test_canonicality.py
  tests/scripts/test_codegen.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_constr_counter.py
  tests/scripts/test_extend_template.py
  tests/scripts/test_freeze.py
  tests/scripts/test_io_key.py
  tests/scripts/test_jittable.py
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_primitive_calls.py
  tests/scripts/test_process_sequence.py
  tests/scripts/test_randomized_models_all_backends.py
  tests/scripts/test_recurrent_models.py
  tests/scripts/test_ref_counts.py
  tests/scripts/test_scalar_inference.py
  tests/scripts/test_scripts.py
  tests/scripts/test_set_shapes.py
  tests/scripts/test_set_types.py
  tests/scripts/test_set_values.py
  tests/scripts/test_shapes.py
  tests/scripts/test_summary.py
  tests/scripts/test_type_coercion.py
  tests/scripts/test_type_consistencies.py
  tests/scripts/test_utils.py
Labels: physical, logical, tests, common, models, utils, examples, benchmarks

#201 refactor: Remove connections from base key
  examples/t5.py
  mithril/framework/common.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/logical/primitive.py
  mithril/models/models.py
  mithril/utils/dict_conversions.py
  tests/scripts/test_canonicality.py
  tests/scripts/test_codegen.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_differentiablity.py
  tests/scripts/test_extend_template.py
  tests/scripts/test_flatmodel.py
  tests/scripts/test_io_key.py
  tests/scripts/test_jittable.py
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_recurrent_models.py
  tests/scripts/test_ref_counts.py
  tests/scripts/test_scripts.py
  tests/scripts/test_set_types.py
  tests/scripts/test_set_values.py
  tests/scripts/test_shapes.py
  tests/scripts/test_summary.py
  tests/scripts/test_train_context.py
  tests/scripts/test_tuple_list_args_in_extend.py
  tests/scripts/test_type_coercion.py
  tests/scripts/test_type_consistencies.py
Labels: logical, tests, common, models, utils, examples

#200 chore: Add FLUX model
  .github/workflows/ci-test-example.yml
  examples/flux/__init__.py
  examples/flux/auto_encoder.py
  examples/flux/conditioner.py
  examples/flux/layers.py
  examples/flux/main.py
  examples/flux/model.py
  examples/flux/sampling.py
  examples/flux/util.py
  mithril/framework/constraints.py
  test_examples/flux_torch.py
  test_examples/test_flux.py
Labels: constraints, examples

#210 refactor: Merge IOKey with Connection
  examples/model_api/cnn_forcast_sine_training.py
  mithril/framework/common.py
  mithril/framework/logical/base.py
  mithril/framework/logical/model.py
  mithril/framework/logical/operator.py
  mithril/framework/logical/operators.py
  mithril/framework/logical/primitive.py
  mithril/framework/physical/model.py
  mithril/models/primitives.py
  mithril/models/train_model.py
  mithril/utils/dict_conversions.py
  tests/scripts/summary_txts/test_traincontext_summary_2
  tests/scripts/summary_txts/test_traincontext_summary_3
  tests/scripts/test_canonicality.py
  tests/scripts/test_constant_inputs.py
  tests/scripts/test_constr_counter.py
  tests/scripts/test_io_key.py
  tests/scripts/test_jittable.py
  tests/scripts/test_model_to_dict_rtt.py
  tests/scripts/test_ref_counts.py
  tests/scripts/test_scripts.py
  tests/scripts/test_set_outputs.py
  tests/scripts/test_shapes.py
  tests/scripts/test_train_context.py
  tests/scripts/test_type_coercion.py
  tests/scripts/test_type_consistencies.py
  tests/utils.py
Labels: physical, logical, tests, common, models, utils, examples
